---
layout: default
page_name: AACD Partnership
permalink: /partnerships/aacd
title: DoctorLogic AACD Partnership
description: "DoctorLogic is the Website Partner of the AACD."
meta_image: "/img/meta/dl.jpg"
nofollow: true
gsap: true
page_class:
- class: partnership
custom_js: partnership
hero:
- img_src: "/img/partnerships/aacd-logo.svg"
  img_alt: "DoctorLogic is the website partner of the AACD"
  headline: DoctorLogic is the Website Partner of the AACD
  wistia-link-id: ojjp2edwgn
  wistia-link-label: Watch Video
offer: 
- headline: "AACD members save 50% on their new website."
  text: "Is your website outdated and in need of a refresh? Does your website produce enough new patients to justify the cost? Does your website showcase your outstanding results? It may be time to make a change! Partner with DoctorLogic and turn your website into a patient-generating machine. Building a new website shouldn't cost you a fortune. As an AACD member, you will save thousands!"
  btn_link: /forms/get-a-demo
  btn_label: Get a Demo
reason:
- headline: "Why DoctorLogic?"
  text: "DoctorLogic offers the most advanced Website Marketing Platform, built exclusively for doctors. With unlimited technology upgrades and Google algorithm updates, DoctorLogic delivers a website that organically becomes more robust over time. DoctorLogic has helped over 1,000 doctors dramatically increase their internet leads with their patent-pending software that uses your Before & After Smile Galleries, Online Patient Reviews, procedure pages, and treatment pages to create up to 100X more Google-friendly content within your website. More content = more leads."
results:
  - headline: "Since 2015, DoctorLogic has provided..."
    items:
    - class: "company-results__item--1"
      value: "10488400"
      label: "Web Pages Created"
    - class: "company-results__item--2"
      value: "31696369"
      label: "Keywords Generated"
    - class: "company-results__item--3"
      value: "122821474"
      label: "Website Visits"
    - class: "company-results__item--4"
      value: "3219287"
      label: "Leads Generated"
    - class: "company-results__item--5"
      value: "34272"
      label: "Before & After Galleries Created"
    - class: "company-results__item--6"
      value: "245863"
      label: "Patient Reviews Acquired"
testimonial:
  - text: <span>"</span>This is a first for us. We have never had a website marketing company as a member benefits partner. DoctorLogic offers a cutting-edge        solution that focuses on helping our members showcase their talents while maximizing their online exposure. As Membership Manager of the AACD, part of my role   is to identify potential partners that deliver results and superior service — DoctorLogic delivers on both accounts.<span>"</span>
    author: "Dana Murn-Kohal, Membership Manager, AACD"
products:
  - headline: "The All-In-One Website Marketing Platform"
    text: "Manage all of your digital marketing from one amazing tool. DoctorLogic’s patent-pending technology automatically
    creates more content, more data, and more keywords. Imagine one solution that can help you grow your online presence as
    fast as you want."
    items:
    - link: "/website-management"
      img_src: "/img/product-icons/with-labels/website-management-label.svg"
      img_alt: "DoctorLogic Website Management"
    - link: "/content-multiplier"
      img_src: "/img/product-icons/with-labels/content-multiplier-label.svg"
      img_alt: "DoctorLogic Content Multiplier"
    - link: "/social-reputation"
      img_src: "/img/product-icons/with-labels/social-reputation-label.svg"
      img_alt: "DoctorLogic Social Reputation"
    - link: "/search-amplifier"
      img_src: "/img/product-icons/with-labels/search-amplifier-label.svg"
      img_alt: "DoctorLogic Search Amplifier"
    - link: "/lead-generator"
      img_src: "/img/product-icons/with-labels/lead-generator-label.svg"
      img_alt: "DoctorLogic Lead Generator"
    - link: "/success-insights"
      img_src: "/img/product-icons/with-labels/success-insights-label.svg"
      img_alt: "DoctorLogic Success Insights"
booster:
  - headline: "Need An Extra Boost?"
    text: "It's no secret that increasing your organic presence with Google takes time. DoctorLogic’s Growth Accelerators can help
    your practice grow as fast you want. From Paid Search to Managed Chat, you can immediately target new patients that generate the best return on investment."
    img_src: "/img/product-icons/with-labels/growth-accelerators-label.svg"
    img_alt: "DoctorLogic Growth Accelerators"
    btn_link: "/growth-accelerators"
    btn_label: "Learn More"
designs:
  - headline: "Stunning, Modern Designs"
    img_src: "/img/partnerships/aacd-4-up.png"
    img_alt: "Stunning Designs by DoctorLogic"
    text: "DoctorLogic’s design team specializes in crafting a stunning website that fits your brand and looks great across all devices. With the latest and most advanced design techniques, your practice is successfully presented to patients in a user-friendly format."
plugin:
  - headline: "Not Looking To Make A Change?"
    text: "Committed to a contract or not quite ready to make the switch? DoctorLogic's Smile Gallery Plugin ​can be installed on any website in just minutes​!​ ​Experience firsthand the power of showcasing your results."
    img_src: "/img/partnerships/smile-gallery-perspective.png"
    img_alt: "DoctorLogic Smile Gallery Plugin"
    product-title: "Smile Gallery Plugin"
    items:
    - text: "<span>Increase leads.</span> Consumers want to see your results before they contact your practice. Adding detailed gallery cases with
    photos, procedures, and treatment details has been proven to convert visitors to inbound leads!"
    - text: "<span>It's easy.</span> In 5 easy steps, add compelling and relevant content to detail your work and results. Upload unlimited photos and
    publish instantly to your website with one click."
    - text: "<span>Cost effective.</span> As a members-only offer, sign up for DoctorLogic’s Smile Gallery Plugin completely FREE for 90 days! ​If you want to
    keep using the software to generate leads, you’ll receive exclusive pricing."
callout:
- headline: Ready To Get Started?
  text: It's easy. Schedule a one-on-one demo with a sales representative today.
  btn-link: /get-a-demo.html
  btn-label: Get a Demo
---

{% for hero in page.hero %}
<section class="hero hero-1 {{hero.class}}">
  <div class="hero-1__text">
    <div class="hero-1__img">
      <img src="{{ hero.img_src }}" alt="{{ hero.img_alt }}">
    </div>
    <h1>{{hero.headline}}</h1>
    <script src="https://fast.wistia.com/embed/medias/{{history.wistia-link-id}}.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span
      class="wistia_embed wistia_async_{{hero.wistia-link-id}} popover=true popoverContent=link"
      style="display:inline;position:relative"><a class="play-link" href="#">{{hero.wistia-link-label}}</a></span>
  </div>
</section>
{% endfor %}

{% for offer in page.offer %}
<section class="partnership-offer">
  <h3>{{ offer.headline }}</h3>
  <p>{{ offer.text }}</p>
  <a href="{{ offer.btn_link }}" class="btn">{{ offer.btn_label }}</a>
</section>
{% endfor %}

{% for reason in page.reason %}
<section class="partnership-reason">
  <div class="partnership-reason__container">
    <h3 class="partnership-reason__headline">{{ reason.headline }}</h3>
    <p class="partnership-reason__text">{{ reason.text }}</p>
  </div>
</section>
{% endfor %}

{% for results in page.results %}
<section class="company-results">
  <h3 class="compay-results__headline">{{ results.headline }}</h3>
  <div class="company-results__items">
    {% for item in results.items %}
    <div class="company-results__item {{ item.class }}">
      <h2><span data-number-spinner="{{ item.value }}" >0</span></h3>
      <h3>{{ item.label }}</h3>
    </div>
    {% endfor %}
  </div>
</section>
{% endfor %}

{% for testimonial in page.testimonial %}
<section class="partnership-testimonial">
  <div class="partnership-testimonial__container">
    <p class="partnership-testimonial__text">{{ testimonial.text }}</p>
    <p class="partnership-testimonial__author">{{ testimonial.author }}</p>
  </div>
</section>
{% endfor %}

{% for product in page.products %}
<section class="partnership-products">
  <h3>{{ product.headline }}</h3>
  <div class="partnership-products__items">
    {% for item in product.items %}
    <a class="partnership-products__item" href="{{ item.link }}">
      <img src="{{ item.img_src }}" alt="{{ item.img_alt }}">
    </a>
    {% endfor %}
  </div>
</section>
{% endfor %}

{% for booster in page.booster %}
<section class="partnership-booster">
  <h3 class="partnership-booster__headline">{{ booster.headline }}</h3>
  <img src="{{ booster.img_src }}" alt="{{ booster.img_alt }}">
  <p class="partnership-booster__text">{{ booster.text }}</p>
  <a href="{{ booster.btn_link }}" class="btn">{{ booster.btn_label }}</a>
</section>
{% endfor %}

{% for design in page.designs %}
<section class="partnership-designs">
  <div class="partnership-designs__container">
    <h3 class="partnership-designs__headline">{{ design.headline }}</h3>
    <img src="{{ design.img_src }}" alt="{{ design.img_alt }}">
    <p class="partnership-designs__text">{{ design.text }}</p>
  </div>
</section>
{% endfor %}

{% for plugin in page.plugin %}
<section class="partnership-plugin">
  <h3 class="partnership-plugin__headline">{{ plugin.headline }}</h3>
  <p class="partnership-plugin__text">{{ plugin.text }}</p>
  <div class="partnership-plugin__container">
    <div class="partnership-plugin__left">
      <img src="{{ plugin.img_src }}" alt="{{ plugin.img_alt }}">
    </div>
    <div class="partnership-plugin__right">
      <h4 class="partnership-plugin__right-headline">{{ plugin.product-title }}</h4>
      {% for item in plugin.items %}
      <div class="partnership-plugin__right-item">
        <p>{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}

{% for callout in page.callout %}
<section class="partnership-callout">
  <h3>{{ callout.headline }}</h3>
  <p>{{ callout.text }}</p>
  <a href="{{ callout.btn-link }}" class="btn">{{ callout.btn-label }}</a>
</section>
{% endfor %}


