---
layout: default
page_name: home
title: Digital Marketing Agency for Doctors | DoctorLogic
description: "DoctorLogic is a medical website platform giving doctors control of online reputation, photo galleries, search optimization, lead generation and website marketing."
meta_image: "/img/meta/dl.jpg"
permalink: /
gsap: true
flickity: true
page_class:
- class: home
custom_js: index
hero:
- class: home__hero
  headline: Attract. Retain. Grow.
  text: "The Practice Growth Platform <span>loved</span> by thousands of providers."
  img: 
  - "class": "hero-1__img--1"
    "src": "/img/home/hero/hero-1.jpg"
    "alt": "DoctorLogic Admin"
  - "class": "hero-1__img--2"
    "src": "/img/home/hero/hero-2.png"
    "alt": "DoctorLogic Admin"
  svg: "/svg/waves/wave-1.html"
cta--1:
- class: "home-cta--1"
  headline: "Instant Website Analysis"
  text: "Find out for <span>FREE</span> how your practice is performing online."
  placeholder: "Enter Your Practice URL"
  btn-label: "Free Report"
cta--2:
- class: "home-cta--2"
  headline: "Instant Website Analysis"
  text: "Find out for <span>FREE</span> how your practice is performing online."
  placeholder: "Enter Your Practice URL"
  btn-label: "Free Report"
designs:
- headline: "Stunning, Modern Designs."
  text: "Custom, responsive and completely future proofed web designs built to win new patients."
  items:
  - class: "image-group__image--1"
    img_src: "/img/home/designs/1.png"
    img_alt: "Aesthetic Revolution Las Vegas"
  - class: "image-group__image--2"
    img_src: "/img/home/designs/2.png"
    img_alt: "Allred Dental"
  - class: "image-group__image--3"
    img_src: "/img/home/designs/3.png"
    img_alt: "Adean Kingston Cosmetic and Medical Dermatology"
  btn: 
  - btn-link: "/medical-practice-website-design"
    btn-label: View Designs
industries:
- headline: "Who We Serve"
  text: "Our customized services were built to effectively serve the following specialities:"
  items:
  - img_src: "/img/home/industries/aesthetics.svg"
    img_alt: "Aesthetics"
    headline: "Aesthetics"
    text: "Plastic & Cosmetic Surgery, Dermatology, Med Spa, and more"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--1"
  - img_src: "/img/home/industries/dental.svg"
    img_alt: "Dental"
    headline: "Dental"
    text: "Cosmetic & General Dentistry, Orthodontics, and more"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--2"
  - img_src: "/img/home/industries/vision.svg"
    img_alt: "Vision"
    headline: "Vision"
    text: "Ophthalmology and Optometry"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--3"
  - img_src: "/img/home/industries/enterprise.svg"
    img_alt: "Enterprise"
    headline: "Enterprise"
    text: "DSO’s, Medical Groups and Hospitals"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--4"
talent:
  - background: "/img/home/talent.jpg"
    headline: "Technology + Talent = DoctorLogic"
    text: "You want a partner who’s there to make your life simple and takes the guesswork out of healthcare marketing. DoctorLogic
    is fully invested in your practice’s success. Our priority is you."
    btn_link: "/company"
    btn_label: "About Us"
---

{% for hero in page.hero %}
<section class="hero hero-1 {{hero.class}}">
    <div class="hero-1__text">
        <h5>{{hero.tagline}}</h5>
        <h1>{{hero.headline}}</h1>
        <p class="loud">{{hero.text}}</p>
    </div>
    <div class="hero-1__img">
        {% for img in hero.img %}
        <img class="{{img.class}}" src="{{img.src}}" alt="{{img.alt}}">
        {% endfor %}
    </div>
    <div class="hero-1__wave">
        {% include {{ hero.svg }} %}
    </div>
</section>
{% endfor %}

{% for cta in page.cta--1 %}
    <div class="home-cta  {{ cta.class }}">
        <div class="home-cta__container">
            <div class="home-cta__text">
                <h2>{{ cta.headline }}</h2>
                <p>{{ cta.text }}</p>
            </div>
            <div class="home-cta__input">
                <input type="text" placeholder="{{ cta.placeholder }}">
                <div class="home-cta__input-btn">
                    <button type="submit">{{ cta.btn-label }}</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="home-content-50 home-content-50--attract">
    <div class="home-content-50__wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f0f4f8" fill-opacity="1"
                d="M0,128L80,133.3C160,139,320,149,480,133.3C640,117,800,75,960,58.7C1120,43,1280,53,1360,58.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="home-content-50__container">
        <div class="home-content-50__headline">
            <h2>Attract.</h2>
            <p class="loud">Effortlessly attract more new patients. The all-in-one Patient Attraction Suite.</p>
        </div>
        <div class="home-content-50__list home-content-50__list--attract">
            <h3>The Patient Attraction Suite</h3>
            <ul>
                <li><span>1</span>Website Platform</li>
                <li><span>2</span>Content Marketing</li>
                <li><span>3</span>Social Management</li>
                <li><span>4</span>Reputation Builder</li>
                <li><span>5</span>Search Optimization</li>
                <li><span>6</span>Dashboard Insights</li>
            </ul>
            <a href="#" class="text-link">See The Prospect Journey ></a>
        </div>
        <div class="home-content-50__img">
            <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
        </div>
    </div>
</div>

<div class="home-tabs home-tabs--1">

    <div class="home-tabs__headline">
        <h2>The Patient Attraction Suite</h2>
    </div>

    <div class="home-tabs__menu-tabs">

        <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
        <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
        <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
        <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />
        <input class="state" type="radio" title="tab-five" name="tabs-state" id="tab-five" />
        <input class="state" type="radio" title="tab-six" name="tabs-state" id="tab-six" />

        <div class="tabs flex-tabs">
            <label for="tab-one" id="tab-one-label" class="tab bob">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-websites.html %}
                    </div>
                    <div class="tab__container-text">
                        Websites
                    </div>
                </div>
            </label>
            <label for="tab-two" id="tab-two-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-content.html %}
                    </div>
                    <div class="tab__container-text">
                        Content
                    </div>
                </div>
            </label>
            <label for="tab-three" id="tab-three-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-social.html %}
                    </div>
                    <div class="tab__container-text">
                        Social
                    </div>
                </div>
            </label>
            <label for="tab-four" id="tab-four-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-reputation.html %}
                    </div>
                    <div class="tab__container-text">
                        Reputation
                    </div>
                </div>
            </label>
            <label for="tab-five" id="tab-five-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-search.html %}
                    </div>
                    <div class="tab__container-text">
                        Search
                    </div>
                </div>
            </label>
            <label for="tab-six" id="tab-six-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-dashboard.html %}
                    </div>
                    <div class="tab__container-text">
                        Dashboard
                    </div>
                </div>
            </label>


            <div id="tab-one-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Website Platform</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first. Words go here to explain this product so people want to buy it. Words go here to explain this product so people want to buy it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this product so people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-two-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Content Marketing</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first. Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-three-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Social Management</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first. Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-four-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Reputation Builder</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first. Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-five-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Search Optimization</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first. Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-six-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Dashboard Insights</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first. Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>
            
            
        </div>

    </div>

</div>

<div class="home-content-50 home-content-50--retain">
    <div class="home-content-50__wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path
                d="M0,128L80,133.3C160,139,320,149,480,133.3C640,117,800,75,960,58.7C1120,43,1280,53,1360,58.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="home-content-50__container">
        <div class="home-content-50__headline">
            <h2>Retain.</h2>
            <p class="loud">Automatically retain existing patients. The best-in-class Patient Retention Suite.</p>
        </div>
        <div class="home-content-50__list home-content-50__list--attract">
            <h3>The Patient Retention Suite</h3>
            <ul>
                <li><span>1</span>Online Scheduling</li>
                <li><span>2</span>Patient Reminders</li>
                <li><span>3</span>Live Engagement</li>
                <li><span>4</span>Precare Marketing</li>
                <li><span>5</span>Recare Marketing</li>
                <li><span>6</span>EMR Integration</li>
            </ul>
            <a href="#" class="text-link">See The Product Journey ></a>
        </div>
        <div class="home-content-50__img">
            <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
        </div>
    </div>
</div>

<div class="home-tabs home-tabs--2">

    <div class="home-tabs__headline">
        <h2>The Patient Retention Suite</h2>
    </div>

    <div class="home-tabs__menu-tabs">

        <input class="state" type="radio" title="tab-seven" name="tabs-2-state" id="tab-seven" checked/>
        <input class="state" type="radio" title="tab-eight" name="tabs-2-state" id="tab-eight" />
        <input class="state" type="radio" title="tab-nine" name="tabs-2-state" id="tab-nine" />
        <input class="state" type="radio" title="tab-ten" name="tabs-2-state" id="tab-ten" />
        <input class="state" type="radio" title="tab-eleven" name="tabs-2-state" id="tab-eleven" />
        <input class="state" type="radio" title="tab-twelve" name="tabs-2-state" id="tab-twelve" />

        <div class="tabs flex-tabs">
            <label for="tab-seven" id="tab-seven-label" class="tab bob">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-calendar.html %}
                    </div>
                    <div class="tab__container-text">
                        Schedule
                    </div>
                </div>
            </label>
            <label for="tab-eight" id="tab-eight-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-remind.html %}
                    </div>
                    <div class="tab__container-text">
                        Remind Test
                    </div>
                </div>
            </label>
            <label for="tab-nine" id="tab-nine-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-social.html %}
                    </div>
                    <div class="tab__container-text">
                        Social
                    </div>
                </div>
            </label>
            <label for="tab-ten" id="tab-ten-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-reputation.html %}
                    </div>
                    <div class="tab__container-text">
                        Reputation
                    </div>
                </div>
            </label>
            <label for="tab-eleven" id="tab-eleven-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-search.html %}
                    </div>
                    <div class="tab__container-text">
                        Search
                    </div>
                </div>
            </label>
            <label for="tab-twelve" id="tab-twelve-label" class="tab">
                <div class="tab__container">
                    <div class="tab__container-img">
                        {% include /svg/icons/icon-dashboard.html %}
                    </div>
                    <div class="tab__container-text">
                        Dashboard
                    </div>
                </div>
            </label>


            <div id="tab-seven-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Website Platform</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first.
                            Words go here to explain this product so people want to buy it. Words go here to explain
                            this product so people want to buy it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this
                            product so people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-eight-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Content Marketing</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first.
                            Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so
                            people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this
                            product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-nine-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Social Management</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first.
                            Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so
                            people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this
                            product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-ten-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Reputation Builder</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first.
                            Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so
                            people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this
                            product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-eleven-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Search Optimization</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first.
                            Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so
                            people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this
                            product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>

            <div id="tab-twelve-panel" class="panel active">
                <div class="panel__container">
                    <div class="panel__img">
                        <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
                    </div>
                    <div class="panel__text">
                        <h2>Dashboard Insights</h2>
                        <h4>Website content is an appreciating asset like ocean front real estate.</h4>
                        <p>Words go here to explain this product so people want to buy it. Write this content first.
                            Words go here to
                            explain this product so people want to buy it. Words go here to explain this product so
                            people want to buy
                            it.</p>
                        <p>Words go here to explain this product so people want to buy it. Words go here to explain this
                            product so
                            people.</p>
                        <a href="#" class="text-link">Learn More ></a>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

<div class="home-content-100 home-content-100--grow">
    <div class="home-content-100__wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path
                d="M0,128L80,133.3C160,139,320,149,480,133.3C640,117,800,75,960,58.7C1120,43,1280,53,1360,58.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="home-content-100__container">
        <div class="home-content-100__headline">
            <h2>Grow.</h2>
            <p class="loud">Grow your practice as fast as you want. One platform that integrates everything.</p>
        </div>
        <div class="home-content-100__img">
            <img src="/img/home/attract/attract-device.png" alt="Attact more patients">
        </div>
        <div class="home-content-100__carousel-container">
            <div class="grow-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": false, "setGallerySize": false, "wrapAround": true, "autoPlay": "8000"}'>
                <div class="grow-carousel__cell">
                    <div class="grow-carousel__cell-container">
                        <div class="grow-carousel__cell-icon grow-carousel__cell-icon--dl">
                            {% include /svg/icons/icon-content.html %}
                        </div>
                        <div class="grow-carousel__cell-headline">
                            Unlimited Providers
                        </div>
                        <div class="grow-carousel__cell-text">
                            Our platform has no limits. Whether your practice has 1 provider or 100K providers, we can handle any size practice
                            based on your agreement.
                        </div>
                    </div>
                </div>
                <div class="grow-carousel__cell">
                    <div class="grow-carousel__cell-container">
                        <div class="grow-carousel__cell-icon grow-carousel__cell-icon--attract">
                            {% include /svg/icons/icon-content.html %}
                        </div>
                        <div class="grow-carousel__cell-headline">
                            Unlimited Providers
                        </div>
                        <div class="grow-carousel__cell-text">
                            Our platform has no limits. Whether your practice has 1 provider or 100K providers, we can handle any size
                            practice
                            based on your agreement.
                        </div>
                    </div>
                </div>
                <div class="grow-carousel__cell">
                    <div class="grow-carousel__cell-container">
                        <div class="grow-carousel__cell-icon grow-carousel__cell-icon--retain">
                            {% include /svg/icons/icon-content.html %}
                        </div>
                        <div class="grow-carousel__cell-headline">
                            Unlimited Providers
                        </div>
                        <div class="grow-carousel__cell-text">
                            Our platform has no limits. Whether your practice has 1 provider or 100K providers, we can handle any size
                            practice
                            based on your agreement.
                        </div>
                    </div>
                </div>
                <div class="grow-carousel__cell">
                    <div class="grow-carousel__cell-container">
                        <div class="grow-carousel__cell-icon grow-carousel__cell-icon--dl">
                            {% include /svg/icons/icon-content.html %}
                        </div>
                        <div class="grow-carousel__cell-headline">
                            Unlimited Providers
                        </div>
                        <div class="grow-carousel__cell-text">
                            Our platform has no limits. Whether your practice has 1 provider or 100K providers, we can handle any size
                            practice
                            based on your agreement.
                        </div>
                    </div>
                </div>
                <div class="grow-carousel__cell">
                    <div class="grow-carousel__cell-container">
                        <div class="grow-carousel__cell-icon grow-carousel__cell-icon--attract">
                            {% include /svg/icons/icon-content.html %}
                        </div>
                        <div class="grow-carousel__cell-headline">
                            Unlimited Providers
                        </div>
                        <div class="grow-carousel__cell-text">
                            Our platform has no limits. Whether your practice has 1 provider or 100K providers, we can handle any size
                            practice
                            based on your agreement.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-content-50 home-content-50--logical">
    <div class="home-content-50__wave">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path
                d="M0,128L80,133.3C160,139,320,149,480,133.3C640,117,800,75,960,58.7C1120,43,1280,53,1360,58.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="home-content-50__container">
        <div class="home-content-50__headline">
            <h2>Logical.</h2>
            <p class="loud">Automatically retain existing patients. The best-in-class Patient Retention Suite.</p>
        </div>
        <div class="home-content-50__img home-content-50__img--1">
            <img src="/img/home/competition.svg" alt="The Competition's Journey">
        </div>
        <div class="home-content-50__content">
            VS
        </div>
        <div class="home-content-50__img home-content-50__img--2">
            <img src="/img/home/dl-process.svg" alt="Attact more patients">
        </div>
    </div>
</div>

{% for cta in page.cta--2 %}
<div class="home-cta  {{ cta.class }}">
    <div class="home-cta__container">
        <div class="home-cta__text">
            <h2>{{ cta.headline }}</h2>
            <p>{{ cta.text }}</p>
        </div>
        <div class="home-cta__input">
            <input type="text" placeholder="{{ cta.placeholder }}">
            <div class="home-cta__input-btn">
                <button type="submit">{{ cta.btn-label }}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="home-content-50 home-content-50--affordable">
    <div class="home-content-50__container">
        <div class="home-content-50__headline">
            <h2>Affordable.</h2>
            <p class="loud">Transparent, fair pricing. Packages for every practice or enterprise group.</p>
        </div>
        <div class="home-content-50__price home-content-50__price--1">
            <div class="home-content-50__price-container">
                <div class="home-content-50__price-icon">
                    {% include /svg/icons/icon-attract.html %}
                </div>
                <div class="home-content-50__price-headline">
                    <h3>Attract Suite</h3>
                </div>
                <div class="home-content-50__price-amount">
                    <h4>Monthly Starting At:</h4>
                    <h2>$500</h2>
                </div>
                <div class="home-content-50__price-features">
                    <h4>- Core Package Includes -</h4>
                    <p>1 Location & 1 Provider</p>
                    <p>Patient Attraction Suite</p>
                    <p>Practice Growth Platform</p>
                </div>
                <a href="#" class="btn">Get a Quote</a>
            </div>
        </div>
        <div class="home-content-50__price home-content-50__price--2">
            <div class="home-content-50__price-container">
                <div class="home-content-50__price-icon">
                    {% include /svg/icons/icon-retain.html %}
                </div>
                <div class="home-content-50__price-headline">
                    <h3>Retain Suite</h3>
                </div>
                <div class="home-content-50__price-amount">
                    <h4>Monthly Starting At:</h4>
                    <h2>$300</h2>
                </div>
                <div class="home-content-50__price-features">
                    <h4>- Core Package Includes -</h4>
                    <p>1 Location & 1 Provider</p>
                    <p>Patient Retention Suite</p>
                    <p>Practice Growth Platform</p>
                </div>
                <a href="#" class="btn">Get a Quote</a>
            </div>
        </div>
    </div>
</div>

<section class="home-case-studies">
    <h3 class="case-studies__headline">DoctorLogic Works.  Hear From Our Customers.</h3>
    <div class="case-studies__items">
        {% for item in site.data.case-studies.gallery %}
        {% if item.featured == true %}
        <a class="case-studies__item" data-type="{{item.type}}" href="{{item.link}}">
            <div class="card {{item.type}}">
                <div class="card__image" style="background: url('{{item.img}}');">
                    <div class="card__stat">
                        <h3>+{{item.stat}}</h3>
                        <p>{{item.stat-label}}</p>
                    </div>
                </div>
                <div class="card__text">
                    <p class="card__title">
                        {{item.name}}
                    </p>
                    <p class="card__specialty">
                        {{item.specialty}}
                    </p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</section>

{% for talent in page.talent %}
<section class="home-talent" style="background: url('{{ talent.background }}');">
    <div class="home-talent__container">
        <h3 class="home-talent__headline">{{ talent.headline }}</h3>
        <p>{{ talent.text }}</p>
        <a href="{{ talent.btn_link }}" class="btn">{{ talent.btn_label }}</a>
    </div>
</section>
{% endfor %}