---
layout: default
page_name: home
title: DoctorLogic - The Modern Way To Grow Your Practice
description: "The all-in-one website marketing platform that attracts and retains more patients. Loved by over 1,000 doctors."
meta_image: "/img/meta/dl.jpg"
permalink: /
gsap: true
page_class:
- class: home
custom_js: index
hero:
- class: home__hero
  tagline: The modern way to grow your practice
  headline: Practice Marketing Experts
  text: "The all-in-one website marketing platform that attracts and retains more patients. Loved by over 1,000 doctors."
  img: "/img/products/website-management/hero-img.svg"
  btn: 
  - btn-link: /get-a-demo
    btn-label: Get A Demo
  text-link:
  - wistia-link-id: w7jgkunbv9
    wistia-link-label: Watch Video
products:
- headline: "One Company. One Solution. Unlimited Results."
  text: "Imagine one solution created to improve patient experiences and help grow your practice’s online presence. DoctorLogic offers the most advanced Website Marketing Platform built to help increase new patients by using Before and After Photo Galleries, Online Patient Reviews, and treatment pages to create up to 100x Google-friendly content. The following six products are included with every DoctorLogic website:"
  items:
  - class: "home-products__item--1"
    step_class: "home-products__item-img-step--1"
    step: 1
    logo_class: "home-products__item-img-logo--1"
    img_src: "/img/product-icons/website-engineering.svg"
    img_alt: "DoctorLogic Website Management" 
    headline: "Website<br>Management"
    text: "Start by turning your website into an appreciating asset."
    btn: 
    - btn-link: /website-management
      btn-label: Learn More
  - class: "home-products__item--2"
    step_class: "home-products__item-img-step--2"
    step: 2
    logo_class: "home-products__item-img-logo--2"
    img_src: "/img/product-icons/content-multiplier.svg"
    img_alt: "DoctorLogic Content Multiplier"
    headline: "Content<br>Multiplier"
    text: "Our technology helps you multiply your content."
    btn:
    - btn-link: /content-multiplier
      btn-label: Learn More
  - class: "home-products__item--3"
    step_class: "home-products__item-img-step--3"
    step: 3
    logo_class: "home-products__item-img-logo--3"
    img_src: "/img/product-icons/social-reputation.svg"
    img_alt: "DoctorLogic Social Reputation"
    headline: "Social<br>Reputation"
    text: "Improve your online reputation and build patient trust."
    btn:
    - btn-link: /social-reputation
      btn-label: Learn More
  - class: "home-products__item--4"
    step_class: "home-products__item-img-step--4"
    step: 4
    logo_class: "home-products__item-img-logo--4"
    img_src: "/img/product-icons/search-amplifier.svg"
    img_alt: "DoctorLogic Search Amplifier"
    headline: "Search<br>Amplifier"
    text: "Target up to 50,000 locally relevant SEO keyword patterns."
    btn:
    - btn-link: /search-amplifier
      btn-label: Learn More
  - class: "home-products__item--5"
    step_class: "home-products__item-img-step--5"
    step: 5
    logo_class: "home-products__item-img-logo--5"
    img_src: "/img/product-icons/lead-generator.svg"
    img_alt: "DoctorLogic Lead Generator"
    headline: "Lead<br>Generator"
    text: "Generate more leads and track every online lead source."
    btn:
    - btn-link: /lead-generator
      btn-label: Learn More
  - class: "home-products__item--6"
    step_class: "home-products__item-img-step--6"
    step: 6
    logo_class: "home-products__item-img-logo--6"
    img_src: "/img/product-icons/success-insights.svg"
    img_alt: "DoctorLogic Success Insights"
    headline: "Success<br>Insights"
    text: "Get real-time analysis and access to our success teams."
    btn:
    - btn-link: /success-insights
      btn-label: Learn More
growth:
- headline: "Want To Grow Faster?"
  img_src: "/img/product-icons/growth-accelerators.svg"
  img_alt: "DoctorLogic Growth Accelerators"
  text: "Need an extra boost? Our growth accelerators can help your practice grow as fast as you want."
  btn_link: "/growth-accelerators"
  btn_label: "Learn More"
  items:
  - class: home-growth-image-group__image--1
    img_src: "/img/home/paid-advertising-text.svg"
    img_alt: "DoctorLogic Webstie Management"
  - class: home-growth-image-group__image--2
    img_src: "/img/home/content-marketing-text.svg"
    img_alt: "DoctorLogic Content Multiplier"
  - class: home-growth-image-group__image--3
    img_src: "/img/home/managed-chat-text.svg"
    img_alt: "DoctorLogic Social Reputation"
  - class: home-growth-image-group__image--4
    img_src: "/img/home/video-production-text.svg"
    img_alt: "DoctorLogic Search Amplifier"
  - class: home-growth-image-group__image--5
    img_src: "/img/product-icons/growth-accelerators.svg"
    img_alt: "DoctorLogic Lead Generator"
designs:
- headline: "Stunning, Modern Designs."
  text: "Custom, responsive and completely future proofed web designs built to win new patients."
  items:
  - class: "image-group__image--1"
    img_src: "/img/home/designs/1.png"
    img_alt: "Aesthetic Revolution Las Vegas"
  - class: "image-group__image--2"
    img_src: "/img/home/designs/2.png"
    img_alt: "Allred Dental"
  - class: "image-group__image--3"
    img_src: "/img/home/designs/3.png"
    img_alt: "Adean Kingston Cosmetic and Medical Dermatology"
  btn: 
  - btn-link: "/medical-website-design"
    btn-label: View Designs
industries:
- headline: "Who We Serve"
  text: "Our customized services were built to effectively serve the following specialities:"
  items:
  - img_src: "/img/home/industries/aesthetics.svg"
    img_alt: "Aesthetics"
    headline: "Aesthetics"
    text: "Plastic & Cosmetic Surgery, Dermatology, Med Spa, and more"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--1"
  - img_src: "/img/home/industries/dental.svg"
    img_alt: "Dental"
    headline: "Dental"
    text: "Cosmetic & General Dentistry, Orthodontics, and more"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--2"
  - img_src: "/img/home/industries/vision.svg"
    img_alt: "Vision"
    headline: "Vision"
    text: "Ophthalmology and Optometry"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--3"
  - img_src: "/img/home/industries/enterprise.svg"
    img_alt: "Enterprise"
    headline: "Enterprise"
    text: "DSO’s, Medical Groups and Hospitals"
    btn_link: "#"
    btn_label: "Learn More"
    class: "home-industries__item--4"
talent:
  - background: "/img/home/talent.jpg"
    headline: "Technology + Talent = DoctorLogic"
    text: "You want a partner who’s there to make your life simple and takes the guesswork out of healthcare marketing. DoctorLogic
    is fully invested in your practice’s success. Our priority is you."
    btn_link: "/company"
    btn_label: "About Us"
---

{% for hero in page.hero %}
<section class="hero hero-1 {{hero.class}}">
    <div class="hero-1__text">
        <h5>{{hero.tagline}}</h5>
        <h1>{{hero.headline}}</h1>
        <p>{{hero.text}}</p>
        <div class="hero-1__btn-container">
            {% for btn in hero.btn %}
                {% if hero.btn %}
                <a class="btn" href="{{btn.btn-link}}">{{btn.btn-label}}</a>
                {% endif %}
            {% endfor %}
            {% for text-link in hero.text-link %}
            <script src="https://fast.wistia.com/embed/medias/{{text-link.wistia-link-id}}.jsonp" async></script>
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span
            class="wistia_embed wistia_async_{{text-link.wistia-link-id}} popover=true popoverContent=link"
            style="display:inline;position:relative"><a class="play-link" href="#">{{text-link.wistia-link-label}}</a></span>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}


{% for products in page.products %}
<section class="home-products">
    <div class="home-products__text">
        <h3>{{ products.headline }}</h3>
        <p>{{ products.text }}</p>
    </div>
    <div class="home-products__items">
        {% for item in products.items %}
        <div class="home-products__item  {{ item.class }}">
            <div class="home-products__item-img-container">
                <div class="home-products__item-img-step {{ item.step_class }}">
                    <p>{{ item.step }}</p>
                </div>
                <div class="home-products__item-img-logo {{ item.logo_class }}">
                    <img src="{{ item.img_src }}" alt="{{ item.img_alt }}">
                </div>
            </div>
            <div class="home-products__item-text-container">
                <h4>{{ item.headline }}</h4>
                <p>{{ item.text }}</p>
                {% for btn in item.btn %}
                    {% if item.btn %}
                        <a class="text-link" href="{{ btn.btn-link }}">{{ btn.btn-label }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

{% for growth in page.growth %}
<section class="home-growth">
    <div class="home-growth__headline">
        <h3>{{ growth.headline }}</h3>
    </div>
    <div class="home-growth-image-group">
        <div class="home-growth-image-group__container">
            {% for item in growth.items %}
            <div class="home-growth-image-group__image {{ item.class | join: ' ' }}">
                <img src="{{ item.img_src }}" alt="{{ item.img_alt }}">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="home-growth__text">
        <p>{{ growth.text }}</p>
        <a href="{{ growth.btn_link }}" class="btn">{{ growth.btn_label }}</a>
    </div>
</section>
{% endfor %}

{% for designs in page.designs %}
<section class="home-designs">
    <div class="home-designs__image-group">
        <h3 class="image-group__headline">{{ designs.headline }}</h3>
        <p class="image-group__text">{{ designs.text }}</p>
        <div class="image-group__container">
            {% for item in designs.items %}
            <div class="image-group__image {{ item.class }}">
                <img src="{{ item.img_src }}" alt="{{ item.img_alt }}">
            </div>
            {% endfor %}
        </div>
        {% for btn in designs.btn %}
        <a href="{{ btn.btn-link }}" class="btn">{{ btn.btn-label }}</a>
        {% endfor %}
    </div>
</section>
{% endfor %}

{% for industry in page.industries %}
<section class="home-industries">
    <h3 class="home-industries__headline">{{ industry.headline }}</h3>
    <p class="home-industries__text">{{ industry.text }}</p>
    <div class="home-industries__items">
        {% for item in industry.items %}
        <div class="home-industries__item {{ item.class }}">
            <img src="{{ item.img_src }}" alt="{{ item.img_alt }}" class="home-industries__item-img">
            <h4 class="home-industries__item-headline">{{ item.headline }}</h4>
            <p class="home-industries__item-text">{{ item.text }}</p>
            <!-- <a href="{{ item.btn_link }}" class="text-link">{{ item.btn_label }}</a> -->
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

<section class="home-case-studies">
    <h3 class="case-studies__headline">DoctorLogic Works.  Hear From Our Customers.</h3>
    <div class="case-studies__items">
        {% for item in site.data.case-studies.gallery %}
        {% if item.featured == true %}
        <a class="case-studies__item" data-type="{{item.type}}" href="{{item.link}}">
            <div class="card {{item.type}}">
                <div class="card__image" style="background: url('{{item.img}}');">
                    <div class="card__stat">
                        <h3>+{{item.stat}}</h3>
                        <p>{{item.stat-label}}</p>
                    </div>
                </div>
                <div class="card__text">
                    <p class="card__title">
                        {{item.name}}
                    </p>
                    <p class="card__specialty">
                        {{item.specialty}}
                    </p>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</section>

{% for talent in page.talent %}
<section class="home-talent" style="background: url('{{ talent.background }}');">
    <div class="home-talent__container">
        <h3 class="home-talent__headline">{{ talent.headline }}</h3>
        <p>{{ talent.text }}</p>
        <a href="{{ talent.btn_link }}" class="btn">{{ talent.btn_label }}</a>
    </div>
</section>
{% endfor %}