---
layout: default
title: DoctorLogic Case Studies | Proven Results
description: "Our expert design team specializes in building custom healthcare websites that fit your brand and look great on any device."
meta_image: "/img/meta/dl.jpg"
nofollow: false
page_name: case-studies
permalink: /case-studies
page_class:
  - class: case-studies
gsap: true
custom_js: case-studies
hero:
  - class: pricing__hero
    tagline: "Our Work In Action"
    headline: Case Studies
    text: "Medical web design and development is our business, but usability is where we shine. From research, strategy implementation, data analysis, and SEO to post-launch digital strategy support, our work is all about delivering results."
---

{% for hero in page.hero %}
<section class="hero hero-2 {{hero.class}}">
    <div class="hero-2__text">
      <div class="hero-2__tagline">
        <h5>{{hero.tagline}}</h5>
      </div>
      <h1>{{hero.headline}}</h1>
      <p>{{hero.text}}</p>
    </div>
</section>
{% endfor %}

<section class="case-studies__wrapper">
  <!-- <input type="radio" id="aesthetic" name="color" checked="checked" />
  <label for="aesthetic"><span>
      <p>Aesthetic</p>
    </span></label>
  <input type="radio" id="dentistry" name="color" />
  <label for="dentistry"><span>
      <p>Dentistry</p>
    </span></label>
  <input type="radio" id="other" name="color" />
  <label for="other"><span>
      <p>Other</p>
    </span></label> -->

  <div class="case-studies__items">

    {% for item in site.data.case-studies.gallery %}
    <a class="case-studies__item" data-type="{{item.type}}" href="{{item.link}}">
      <div class="card {{item.type}}">
        <div class="card__image" style="background: url('{{item.img}}');">
          <div class="card__stat">
            <h3>+{{item.stat}}</h3>
            <p>{{item.stat-label}}</p>
          </div>
        </div>
        <div class="card__text">
          <p class="card__title">
            {{item.name}}
          </p>
          <p class="card__specialty">
            {{item.specialty}}
          </p>
        </div>
      </div>
    </a>
    {% endfor %}

  </div>

</section>






