<section class="component image-group {{ section.class }}">
	{% if section.headline %}
		<h3 class="image-group__headline">{{section.headline}}</h3>
	{% endif %}
	{% if section.text %}
		<p class="image-group__text">{{section.text}}</p>
	{% endif %}
	<div class="image-group__container">
		{% for item in section.items %}
			<div class="image-group__image {{ item.class | join: ' ' }}">
				{% if item.svg == true %}
				{% include svg/{{item.src}}.html %}
				{% elsif item.img == true %}
				<img src="{{ item.src }}" alt="{{ item.alt-text }}">
				{% endif %}
				{% if item.headline %}
				<h4>{{ item.headline }}</h4>
				{% endif %}
				{% if item.text %}
				<p>{{ item.text }}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% for btn in section.btn %}
		{% if section.btn %}
			<a href="{{ btn.btn-link }}" class="btn">{{ btn.btn-label }}</a>
		{% endif %}
	{% endfor %}
</section>
