<section class="component callout {{ section.class }} {% if section.background == false %} callout__clear {% endif %}">
	<h3>{{ section.headline }}</h3>
	<p>{{ section.text }}</p>
	{% if section.form %}
	<div class="callout__form">
	{% include {{ section.form.template }} handler=section.form.handler %}
	</div>
	{% endif %}
	{% for btn in section.btn %}
	{% if section.btn %}
	<a class="btn {% if section.background == true %} btn--clear {% endif %}" href="{{btn.btn-link}}">{{btn.btn-label}}</a>
	{% endif %}
	{% endfor %}
</section>
