<section class="component hero hero-2 {{section.class}}">
  <div class="hero-2__text">
    {% for tagline in section.tagline %}
    {% if section.tagline %}
    <div class="hero-2__tagline">
      <h5>{{tagline.headline}}</h5>
    </div>
    {% endif %}
    {% endfor %}
    <h1>{{section.headline}}</h1>
    <p>{{section.text}}</p>
    {% for btn in section.btn %}
      {% if section.btn %}
        <a class="btn" href="{{btn.btn-link}}">{{btn.btn-label}}</a>
      {% endif %}
    {% endfor %}
  </div>
</section>
