<section class="component case-studies-feature {{ section.class }} {% if section.background == false %} callout__clear {% endif %}">
	<h3 class="case-studies-feature__headline">{{ section.headline }}</h3>
	<p class="case-studies-feature__text">{{ section.text }}</p>
	<div class="case-studies-feature__items case-studies-feature__items--{{ section.per-row-count }}">
	{% for item in site.data.case-studies.gallery %}
	{% for practice in section.practices %}
	{% if item.name == practice.name %}
		<a class="case-studies-feature__item" data-type="{{item.type}}" href="{{item.link}}">
			<div class="card {{item.type}}">
				<div class="card__image" style="background: url('{{item.img}}');">
					<div class="card__stat">
						<h3>+{{item.stat}}</h3>
						<p>{{item.stat-label}}</p>
					</div>
				</div>
				<div class="card__text">
					<p class="card__title">
						{{item.name}}
					</p>
					<p class="card__specialty">
						{{item.specialty}}
					</p>
				</div>
			</div>
		</a>
	{% endif %}
	{% endfor %}
	{% endfor %}
	</div>
	{% for btn in section.btn %}
	{% if section.btn %}
	<a class="btn" href="{{ btn.btn-link }}">{{ btn.btn-label }}</a>
	{% endif %}
	{% endfor %}
	{% for link in section.wistia-link %}
	{% if section.wistia-link %}
	<script src="https://fast.wistia.com/embed/medias/{{link.link-id}}.jsonp" async></script>
	<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span
		class="wistia_embed wistia_async_{{link.link-id}} popover=true popoverContent=link"
		style="display:inline;position:relative"><a class="play-link" href="#">{{link.link-label}}</a></span>
	{% endif %}
	{% endfor %}
</section>
