<section class="component feature feature-2 {{ section.class }}">
    <div class="feature__image">
        <div class="feature__image-wrapper" style="background:url('{{ section.img | relative_url }}')"></div>
    </div>
    <div class="feature__text">
        {% for icon in section.product_icon %}
            {% if section.product_icon %}
            <div class="feature__product-icon" style="background: url({{ icon.icon }})"></div>
            {% endif %}
        {% endfor %}
        <h3>{{ section.headline }}</h3>
        <p>{{ section.text }}</p>
        {% for btn in section.btn %}
            {% if section.btn %}
                <a class="btn" href="{{ btn.btn-link }}">{{ btn.btn-label }}</a>
            {% endif %}
        {% endfor %}
    </div>
</section>
