<footer id="footer">
	<div class="footer__top">
		<div class="footer__top-left">
			<div class="footer__nav">
				<h3 class="footer__nav-title">Company</h3>
				<ul class="footer__nav-items">
					<li class="footer__nav-item">
						<a href="#">About</a>
					</li>
					<li class="footer__nav-item">
						<a href="#">Contact</a>
					</li>
					<li class="footer__nav-item">
						<a href="/careers">Careers</a>
					</li>
				</ul>
			</div>
			<div class="footer__nav">
				<h3 class="footer__nav-title">Resources</h3>
				<ul class="footer__nav-items">
					<li class="footer__nav-item">
						<a href="#">Blog</a>
					</li>
					<li class="footer__nav-item">
						<a href="#">Case Studies</a>
					</li>
				</ul>
			</div>
			<div class="footer__newsletter">
				<h3>Sign Up For Our Newsletter</h3>
				<form action="https://marketing.doctorlogic.com/l/772793/2019-06-25/4sv" method="post">
				<div class="styled-input">
					<input type="hidden" name="ReferralPage">
					<input type="text" name="Email" placeholder="My Email Is..." required>
					<div class="confirmation"></div>
				</div>
				<button type="submit" onClick="thankyou()">Submit</button>
				</form>
			</div>		
		</div>
		<div class="footer__top-right">
			<div class="footer__partners">
				<div class="footer__partner">
					<img src="/img/footer/google-partner.svg" alt="">
				</div>
				<div class="footer__partner">
					<img src="/img/footer/inc.svg" alt="">
				</div>
			</div>
			<div class="footer__location">
				<div class="footer__location-phone">
					<p>Sales: <a href="#">555-555-5555</a></p>
					<p>Support: <a href="#">777-777-7777</a></p>
				</div>
				<p>6509 Windcrest, Suite 200</p>
				<p>Plano, TX 75024</p>
			</div>
		</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__social">
				<a href="#"><img src="/img/social/facebook.svg" class="footer__social-link" alt="facebook"></a>
				<a href="#"><img src="/img/social/twitter.svg" class="footer__social-link" alt="twitter"></a>
				<a href="#"><img src="/img/social/instagram.svg" class="footer__social-link" alt="instagram"></a>
				<a href="#"><img src="/img/social/linkedin.svg" class="footer__social-link" alt="linkedin"></a>
			</div>
			<div class="footer__copyright">
				<p>©{{ 'now' | date: "%Y" }} DoctorLogic / All Rights Reserved / <a href="#">Privacy Policy</a> </p>
			</div>
		</div>
		
	
</footer>
