<footer id="footer">
	<div class="footer__items">
			<div class="footer__partners">
				<div class="footer__partner">
					<img src="/img/footer/google-partner.svg" alt="">
				</div>
				<div class="footer__partner">
					<img src="/img/footer/inc.svg" alt="">
				</div>
			</div>
		<!-- <div class="footer__badge">
			<div class="partner-image g-partnersbadge" data-agency-id="9138310800"></div>
		</div> -->
		<div class="footer__left">
			<div class="footer__links">
				<a href="/company">Company</a>
				<a href="#">Careers</a>
				<a href="#">Blog</a>
			</div>
		</div>
		<div class="footer__right">
			<div class="footer__social">
				<a href="#"><img src="/img/social/facebook.svg" class="footer__social-link" alt="facebook"></a>
				<a href="#"><img src="/img/social/twitter.svg" class="footer__social-link" alt="twitter"></a>
				<a href="#"><img src="/img/social/instagram.svg" class="footer__social-link" alt="instagram"></a>
				<a href="#"><img src="/img/social/linkedin.svg" class="footer__social-link" alt="linkedin"></a>
			</div>
		</div>
		<div class="footer__copyright">
			<p>©{{ 'now' | date: "%Y" }} DoctorLogic / All Rights Reserved / <a href="#">Privacy Policy</a> </p>
		</div>
	</div>
</footer>
