<header class="header dl-morph-dropdown">
	<div class="header__wrapper">
	<a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>

	<a href="/" class="header__logo">
		<div class="header__logo-img"></div>
	</a>

	<nav class="main-nav">
		<ul>
			<li class="has-dropdown gallery" data-content="products">
				<a href="#0">Products</a>
			</li>

			<!-- <li class="has-dropdown links" data-content="specialties">
				<a href="#0">Specialties</a>
			</li> -->

			<li class="has-dropdown links" data-content="results">
				<a href="#0">Results</a>
			</li>

			<li class="no-dropdown">
				<a href="{{ base }}/pricing">Pricing</a>
			</li>

			<li class="has-dropdown links" data-content="contact">
				<a href="/contact-us">Contact</a>
			</li>

			<li class="no-dropdown">
				<a href="https://admin.doctorlogic.com">Sign In</a>
			</li>

		</ul>
	</nav>

	<div class="morph-dropdown-wrapper">
		<div class="dropdown-list">
			<ul>
				<li class="mobile-demo">
					<a href="/get-a-demo.html">Get A Demo</a>
				</li>
				<li id="products" class="dropdown gallery">
					<a href="#0" class="label">Products</a>

					<div class="content">
						<ul>
							<li class="website-management">
								<a href="{{ base }}/website-management">
									Website Management
									<span>HIPAA compliant website management</span>
								</a>
							</li>

							<li class="content-multiplier">
								<a href="{{ base }}/content-multiplier">
									Content Multiplier
									<span>Target patients with relevant content</span>
								</a>
							</li>

							<li class="social-reputation">
								<a href="{{ base }}/social-reputation">
									Social Reputation
									<span>Manage your online reputation</span>
								</a>
							</li>

							<li class="search-amplifier">
								<a href="{{ base }}/search-amplifier">
									Search Amplifier
									<span>Amplify your growth with Medical SEO</span>
								</a>
							</li>

							<li class="lead-generator">
								<a href="{{ base }}/lead-generator">
									Lead Generator
									<span>Manage every lead from your website</span>
								</a>
							</li>

							<li class="success-insights">
								<a href="{{ base }}/success-insights">
									Success Insights
									<span>Receive full access to performance metrics</span>
								</a>
							</li>

							<div class="content--secondary">

								<li class="growth-accelerators">
									<a href="{{ base }}/growth-accelerators">
										Growth Accelerators
										<span>Boost your practice growth with these solutions</span>
									</a>
								</li>
								<li class="link--secondary link--secondary-growth-accelerators"> 
									<a href="{{ base }}/growth-accelerators/paid-advertising">
										Paid Advertising
									</a>
								</li>
								<li class="link--secondary link--secondary-growth-accelerators">
									<a href="{{ base }}growth-accelerators/content-marketing">
										Content Marketing
									</a>
								</li>
								<li class="link--secondary link--secondary-growth-accelerators">
									<a href="{{ base }}/growth-accelerators/managed-chat">
										Managed Chat
									</a>
								</li>
								<li class="link--secondary link--secondary-growth-accelerators">
									<a href="{{ base }}/growth-accelerators/video-content">
										Video Production
									</a>
								</li>

							</div>
							
						</ul>
					</div>
				</li>

				<!-- <li id="specialties" class="dropdown links">
					<a href="#0" class="label">Specialties</a>

					<div class="content">
						<ul>		
							<li><a href="#0">Aesthetics</a></li>
							<li><a href="#0">Dentistry</a></li>
							<li><a href="#0">Opthamology</a></li>
							<li><a href="#0">Bariatric</a></li>
						</ul>
					</div>

				</li> -->

				<li id="results" class="dropdown links">
					<a href="#0" class="label">Results</a>
					<div class="content">
						<ul>
							<li><a href="/case-studies">Case Studies</a></li>
							<li><a href="/testimonials">Testimonials</a></li>
							<!-- <li><a href="#0">Video Testimonials</a></li> -->
						</ul>
					</div>

				</li>

				<li class="dropdown no-dropdown">
					<a href="/pricing">Pricing</a>
				</li>

				<li id="results" class="dropdown links">
					<a href="#0" class="label">Resources</a>
					<div class="content">
						<ul>
							<li><a href="/case-studies">Case Studies</a></li>
							<li><a href="/testimonials">Testimonials</a></li>
							<!-- <li><a href="#0">Video Testimonials</a></li> -->
						</ul>
					</div>
				</li>

				<li id="contact" class="dropdown links">
					<a href="/contact-us" class="label">Contact</a>
					<div class="content">
						<ul>
							<li><a href="tel:855-522-3600">Sales: 855-522-3600</a></li>
							<li><a href="tel:855-409-5500">Support: 855-409-5500</a></li>
						</ul>
					</div>
				</li>
								
			</ul>

			<div class="bg-layer" aria-hidden="true" style="transform: scaleX(390) scaleY(349);"></div>
		</div> <!-- dropdown-list -->
	</div> <!-- morph-dropdown-wrapper -->

	<div class="header__cta">
		<a href="/get-a-demo.html" class="header__cta--demo">Get A Demo</a>
	</div>
	</div>
</header>
