<header class="header">
	<div class="header__wrapper">
		<a class="header__logo-wrapper" href="/">
		</a>
		<nav class="header-menu">
			<ul class="header-menu__list">
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Service</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">About</a>
				</li>
				<li class="header-menu__item">
					<a href="#" class="header-menu__link">Gallery</a>
				</li>
				<li class="header-menu__item">
					<a href="/blog" class="header-menu__link">Blog</a>
				</li>
			</ul>
		</nav>
		<button id="header__toggle-button" type="button" class="header__toggle-icon">
			<span></span>
		</button>
	</div>
</header>
