{%- capture description -%}
	{%- if page.post_intro -%}
		{{ page.post_intro }}
	{%- else -%}
		{{ page.description }}
{%- endif %}{%- endcapture %}

{% capture image -%}
	{%- if page.post_image -%}
		{{ page.post_image }}
	{%- elsif page.meta_image -%}
		{{ page.meta_image }}
	{%- else -%}
		{{ site.defaut-img }}
	{%- endif -%}
{%- endcapture %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{description}}">
	<meta property="og:image" content="{{image}}">
	{% if page.nofollow == true -%}
	<meta name="robots" content="noindex,nofollow">
	{%- elsif page.nofollow == false -%}
	<meta name="robots" content="index,follow">
	{%- endif %}
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico?">
	<title>{% if page.post_title %}{{ page.post_title }}{% else %}{{ page.title }}{% endif %}</title>
	<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
	{% if page.magnific == true -%}
	<link rel="stylesheet" href="{{ '/css/vendor/magnific-popup.css'| prepend: site.baseurl }}">
	{%- endif -%}
	{% if page.flickity == true -%}
	<link rel="stylesheet" href="{{ '/css/vendor/flickity.css'| prepend: site.baseurl }}">
	{%- endif -%}
	{% for section in page.page_sections -%}
	{% if section.component_css -%}
	<link rel="stylesheet" href="{{ '/css/components/' | append: section.component_css | append: '.css' | prepend: site.baseurl }}">
	{% endif %}
	{%- endfor %}
	{%- for class in page.page_class -%}
	{% if class.class -%}
	<link rel="stylesheet" href="{{ '/css/pages/' | append: class.class | append: '.css' | prepend: site.baseurl }}">
	{% endif %}
	{%- endfor -%}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-P6LGGW');</script>
	<!-- End Google Tag Manager -->
</head>
