---
layout: default
title: The DoctorLogic Blog - All Posts
page_class: blog-list-page
description: Discover the latest content from DoctorLogic - blog posts, helpful tips, platform updates, and more!
permalink: /blog
page_hidden: false
page_name: bloglist
hs_form_id: 75c57a13-9090-4db1-acd0-be51d1a76f7e
page_sections:
- component: hero-2
  component_css: hero-2
  class: blog-list-hero
  headline: "The DoctorLogic Blog"
  text: "When it comes to healthcare marketing, your online reputation is extremely important. You can be top of Google
  for every medical keyword, but if you’re online reviews are poor you will lose potential new patients."
---

{% for section in page.page_sections %}
{% include component-{{ section.component }}.html %}
{% endfor %}

<div class="blog-list">
	<div class="blog-list__container">
		<div class="blog-list__featured">
			<h2 class="blog-list__headline">Latest Posts:</h2>
			{% for post in site.posts limit:4 %}
				<a class="blog-list__card" href="{{ site.baseurl }}{{ post.url }}">
					<div class="blog-list__card-image" style="background: url({{post.post_image}}) center center/cover;"></div>
					<div class="blog-list__card-text">
						<h3>{{ post.post_title }}</h3>
						<div class="post__card-author">
							<!-- Set author object, default if none; -->
							{% for author in site.data.blog.authors %}
							{% if post.post_author == author.name %}
							{% assign authorIndex = forloop.index0 | plus: 0 %}
							{% break %}
							{% else %}
							{% assign authorIndex = 0 %}
							{% endif %}
							{% endfor %}
							{% assign author = site.data.blog.authors[authorIndex] %}
							<p class="blog-list__card-highlight">{{ post.post_highlight }}</p>
							<p class="blog-list__card-date">{{ post.date | date: '%B %d, %Y' }}</p>
							<p class="blog-list__card-author"><img src="{{author.img}}" alt="">By: {{ post.post_author }}</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="blog-list__unfeatured">
			<div class="blog-list__unfeatured-list">
				<h2>More Posts:</h2>
				{% for post in site.posts offset:4 %}			
				<div class="blog-list__post">
					<div class="blog-list__post-image" style="background: url({{post.post_image}}) center center/cover;"></div>
					<div class="blog-list__post-info">
						<h3>{{ post.post_title }}</h3>
						<div class="blog-list__post-date">
							{{ post.date | date: '%B %d, %Y' }}
						</div>
						<div class="blog-list__post-preview">
							<p>{{ post.post_highlight }}</p>
							<a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
			<div class="blog-list__tags">
				<h2>Filter By:</h2>
				<ul class="blog-list__tags-list">
					{% for tag in site.tags %}
					<li class="blog-list__tags-link"><a href="{{ '/blog/tag/' | append:tag[0] }}"
							rel="tag">{{ tag[0] | replace: '-', ' ' }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="blog-subscription">
	<h3 class="blog-subscription__headline">Ready to grow your practice?</h3>
	<p class="blog-subscription__text">Join hundreds of doctors reading the DoctorLogic newsletter, a monthly update on industry best-practices. We will never
	spam your email.</p>
	<div class="email-form--inline">
		<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
		<script>
			hbspt.forms.create({
				portalId: "2805307",
				formId: "06f56631-a445-49da-89a7-b852166248b1"
			});
		</script>
	</div>
</div>

