$content-width: 1200px;
$color-1: #1f2933;
$color-2: #ffffff;
$color-3: #086bb5;
$color-4: #00b9b6;
$color-5: #eff0f1;
$color-6: #dddddd;
$color-7: #f7f6f6;
$font-style: 'Montserrat', sans-serif;
$font-color: $color-1;
$heading-font: 'Montserrat', sans-serif;

// Product Colors

$websites: #086bb5;
$websites-2:#00B8B4;
$content: #ED1179;
$content-2: #F36B24;
$reputation: #11998e;
$reputation-2: #70C171;
$search: #6482C1;
$search-2: #4BC4D2;
$leads: #6a52a2;
$leads-2: #A5509F;
$success: #F04D25;
$success-2: #F5B52A;
$growth: #EF486C;
$growth-2: #4E65AF;

// Product Gradients

$gradient-website-management: linear-gradient(45deg, $websites,$websites-2);
$gradient-website-management-reverse: linear-gradient(45deg, $websites-2,$websites);
$gradient-content-multiplier: linear-gradient(45deg, $content,$content-2);
$gradient-content-multiplier-reverse: linear-gradient(45deg, $content-2,$content);
$gradient-social-reputation: linear-gradient(45deg, $reputation, $reputation-2);
$gradient-social-reputation-reverse: linear-gradient(45deg, $reputation-2, $reputation);
$gradient-search-amplifier: linear-gradient(45deg, $search,$search-2);
$gradient-search-amplifier-reverse: linear-gradient(45deg, $search-2,$search);
$gradient-lead-generator: linear-gradient(45deg, $leads, $leads-2);
$gradient-lead-generator-reverse: linear-gradient(45deg, $leads-2, $leads);
$gradient-success-insights: linear-gradient(45deg, $success,$success-2);
$gradient-success-insights-reverse: linear-gradient(45deg, $success-2,$success);
$gradient-growth-accelerators: linear-gradient(45deg, $growth,$growth-2);
$gradient-growth-accelerators-reverse: linear-gradient(45deg, $growth-2,$growth);

// Additional Styles

$box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.15);
$gradient-overlay: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 75%, rgba(0,0,0,.5) 100%);

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin grid {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	@content;
}
