$content-width: 1200px;
$color-1: #1f1f1f;
$color-2: #ffffff;
$color-3: #086bb5;
$color-4: #00b9b6;
$font-style: 'Montserrat', sans-serif;
$font-color: $color-1;
$heading-font: 'Montserrat', sans-serif;

// Product Colors

$websites: #086bb5;
$content: #ED1179;
$reputation: #11998e;
$search: #6482C1;
$leads: #6a52a2;
$success: #F04D25;
$growth: #EF486C;

// Product Gradients

$gradient-website-marketing: linear-gradient(to right, rgba(8,107,181,1) 0%,rgba(0,185,182,1) 100%);
$gradient-website-marketing-reverse: linear-gradient(to left, rgba(8,107,181,1) 0%,rgba(0,185,182,1) 100%);
$gradient-content-multiplier: linear-gradient(to right, rgba(237,17,121,1) 0%,rgba(243,107,33,1) 100%);
$gradient-content-multiplier-reverse: linear-gradient(to left, rgba(237,17,121,1) 0%,rgba(243,107,33,1) 100%);
$gradient-reputation-manager: linear-gradient(to right, #11998e, #38ef7d);
$gradient-reputation-manager-reverse: linear-gradient(to left, #11998e, #38ef7d);
$gradient-search-amplifier: linear-gradient(to right, rgba(100,130,193,1) 0%,rgba(78,196,211,1) 100%);
$gradient-search-amplifier-reverse: linear-gradient(to left, rgba(100,130,193,1) 0%,rgba(78,196,211,1) 100%);
$gradient-lead-generator: linear-gradient(to right, #6a52a2, #a5509f);
$gradient-lead-generator-reverse: linear-gradient(to left, #6a52a2, #a5509f);
$gradient-success-insights: linear-gradient(to right, rgba(240,77,37,1) 0%,rgba(246,182,47,1) 100%);
$gradient-success-insights-reverse: linear-gradient(to left, rgba(240,77,37,1) 0%,rgba(246,182,47,1) 100%);
$gradient-growth-accelerators: linear-gradient(to right, rgba(239,72,108,1) 0%,rgba(78,101,175,1) 100%);
$gradient-growth-accelerators-reverse: linear-gradient(to left, rgba(239,72,108,1) 0%,rgba(78,101,175,1) 100%);

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin grid {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	@content;
}
