footer {
	background: $gradient-website-management;
	padding: 60px 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;

	@include tablet-wide-min {
		position: fixed;
		padding: 40px 60px 20px;
	}

	@include desktop-sm-min {
		padding: 20px 60px 20px;
	}

	h3 {
		color: $color-2;
		margin-bottom: 40px;
	}

	
	.footer {

		&__items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		&__partners {
			flex: 0 0 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 10px;
			padding: 20px 10px 40px;
			order: 2;

			@include tablet-min {
				padding: 40px 10px;
				order: unset;
			}
			

			@include tablet-wide-min {
			  flex: 0 0 100%;
			}
			
		}

		&__partner {
			flex: 0 0 50%;
			padding: 10px;
			max-width: 150px;

			@include tablet-min {
			  flex: 0 0 auto;
				padding: 0 10px;
				width: 100%;
			  max-width: 200px;
			}
			

			img {
				max-width: 100%;
			}


		}

		
		&__left {
			flex: 0 0 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			order: 1;

			@include tablet-min {
				flex: 0 0 auto;
				justify-content: flex-start;
				order: unset;
			}
			
		}

		&__links {
			flex: 0 0 100%;
			line-height: 1;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;

			@include tablet-min {
				flex-direction: row;
				padding-bottom: 40px;
			}
			

			@include tablet-wide-min {
				flex: 0 0 auto;
				padding-bottom: 0;
				justify-content: flex-start;
			}

			a {
				text-decoration: none;
				text-transform: none;
				color: $color-2;
				font-size: .9rem;
				position: relative;
				text-align: center;
				padding: 20px;
				line-height: 1;
				transition: all .3s;
				display: block;

				@include tablet-min {
					display: inline;
					text-align: right;
					padding: 0 20px;
				}

				@include desktop-sm-min {
						&:hover {
						font-size: 1rem;
					}
				}

				&::after {
					content: '/';
					position: absolute;
					bottom: 0;
					right: -4px;
					width: 100%;
					height: auto;
					display: none;

					@include tablet-min {
						display: block;
					}
				}

				&:first-of-type {
					@include tablet-min {
					  padding-left: 0;
					}
					
				}

				&:last-of-type {
					
					@include tablet-min {
						padding-right: 0;
					}

					&::after {
						display: none;
					}
				}

			}
		}

		&__right {
			flex: 0 0 100%;
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			order: 3;

			@include tablet-min {
				flex: 0 0 auto;
				justify-content: flex-end;
				order: unset;
			}
			
		}


		&__social {
			flex: 0 0 100%;
			line-height: 1;
			padding-bottom: 40px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@include tablet-wide-min {
				flex: 0 0 auto;
				padding-bottom: 0;
				padding-left: 40px;
				justify-content: flex-end;
			}

			a {
				text-decoration: none;
				text-transform: none;
				color: $color-2;
				font-size: .9rem;
				position: relative;
				text-align: center;
				padding: 20px;
				line-height: 1;
				transition: all .3s;
				display: block;

				@include tablet-min {
					display: inline;
					text-align: right;
					padding: 0 20px;
				}

				@include desktop-sm-min {
						&:hover {
						font-size: 1rem;
					}
				}

				&::after {
					content: '/';
					position: absolute;
					bottom: 0;
					right: -4px;
					width: 100%;
					height: auto;
					display: none;

					@include tablet-min {
						display: block;
					}
				}

				&:first-of-type {
					@include tablet-min {
					  padding-left: 0;
					}
					
				}

				&:last-of-type {
					
					@include tablet-min {
						padding-right: 0;
					}

					&::after {
						display: none;
					}
				}
			}
		}

		&__social-link {
			width: 20px;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		&__copyright {
			flex: 0 0 100%;
			padding-bottom: 40px;
			order: 4;

			@include tablet-min {
				order: unset;
			}
			

			@include tablet-wide-min {
				flex: 0 0 100%;
				padding-bottom: 0;
			}

			p {
				text-align: center;
				margin: 0;
				font-size: .7rem;
				line-height: 1;
				color: $color-2;
				font-family: $font-style, sans-serif;
				@include tablet-min {
					font-size: .9rem;
				}

			}

			img {
				width: 30px;
				height: 30px;
			}

			a {
				color: $color-2;
				text-decoration: none;
			}

		}
	}

}

body.social-reputation footer {
	background: $gradient-social-reputation;
}

body.website-management footer {
	background: $gradient-website-management;
}

body.content-multiplier footer {
	background: $gradient-content-multiplier;
}

body.search-amplifier footer {
	background: $gradient-search-amplifier;
}

body.lead-generator footer {
	background: $gradient-lead-generator;
}

body.success-insights footer {
	background: $gradient-success-insights;
}

body.growth-accelerators footer {
	background: $gradient-growth-accelerators;
	;
}
