footer {
	background: $gradient-website-management;
	padding: 60px 20px 40px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;

	@include tablet-wide-min {
		position: fixed;
		padding: 40px 60px 20px;
	}

	@include desktop-sm-min {
		padding: 40px;
	}

	h3 {
		color: $color-2;
		margin-bottom: 40px;
	}

	
	.footer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__top {
			flex: 0 0 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			padding: 0 0 40px;
		}

		&__top-left {
			flex: 0 0 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;

			@include desktop-sm-min {
				flex: 0 0 60%;
			}
		}

		&__nav {
			flex: 0 0 100%;
			padding: 40px 0 0;
			order: 2;

			@include desktop-sm-min {
			  flex: 0 0 auto;
			  padding: 0 80px 0 0;
			  order: 1;
			}
			
		}

		&__nav-title {
			font-size: .9rem;
			color: $color-2;
			text-transform: uppercase;
			margin: 0;
			text-align: center;

			@include desktop-sm-min {
			  text-align: left;
			}
			
		}

		&__nav-items {
			padding: 0;
			margin-top: 10px;
			display: flex;
			flex-direction: column;
		}

		&__nav-item {
			text-align: center;
			display: block;
			padding: 10px 20px;

			@include desktop-sm-min {
			  text-align: left;
			  padding: 0;
			}
			

			&::before {
				display: none;
			}

			a {
				color: $color-2;
				text-transform: uppercase;
				font-size: .8rem;
				text-decoration: none;
				font-weight: 400;
			}
		}

		&__partners {
			flex: 0 0 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding: 40px;

			@include desktop-sm-min {
			  flex: 0 0 auto;
			  justify-content: flex-end;
			  min-width: 40%;
			  padding: 0;
			}
			
		}

		&__newsletter {
			min-width: 40%;
			margin: 0 auto;
			order: 1;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;

			@include desktop-sm-min {
			  margin: 0;
			  order: 2;
			}

			h3 {
				font-size: .9rem;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 10px;
			}

			form {
				text-align: left;
			}

			input {
				border-bottom: 1px solid $color-2 !important;
				color: $color-2;
			}

			input ~ span {
				background: $color-2;
			}

			input:focus ~ label,
			input:valid ~ label,
			input::placeholder {
				color: $color-2;
			}

			.styled-input {
				margin-top: 10px;
			}

			.styled-input label {
				color: $color-2;
				opacity: .8;
				background: transparent;
				margin: 0;
				padding: 0;
			}

			input {
				border: 1px solid $color-2 !important;
				background-color: transparent;
				color: $color-2;

				&:placeholder {
					color: $color-2;
				}
			}

			button {
				padding: 10px 18px;
				font-size: .7rem;
				max-width: 100px;
				display: block;
				margin: 0 auto;

				@include desktop-sm-min {
				  margin: 10px 0;
				}
				
			}

			.confirmation {
				color: $color-2;
				font-family: 'Montserrat', sans-serif;
				font-size: .8rem;
				text-transform: uppercase;
				font-weight: 400;
				margin-top: 20px;
			}
			
		}

		&__top-right {
			flex: 0 0 100%;
			margin: 0;

			@include desktop-sm-min {
			  flex: 0 0 40%;
			  margin: 0 auto;
			}
			
		}

		&__partner {
			flex: 0 0 auto;
			max-width: 150px;

			@include desktop-sm-min {
			  flex: 0 0 50%;
			}
			

			img {
				width: 150px;
				height: auto;
				max-width: 150px;

				@include desktop-sm-min {
				  width: 100%;
				}
				
			}
		}

		&__location {
			padding: 40px 0 0;

			p {
				color: $color-2;
				font-weight: 400;
				margin: 0;
				font-size: .9rem;
				text-align: center;

				@include desktop-sm-min {
				  text-align: right;
				}
				
				
			}

			&-phone {
				margin-bottom: 20px;
				font-weight: 400;
				a {
					color: $color-2;
				}
			}
		}

		&__bottom {
			flex: 0 0 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}

		&__social {
			flex: 0 0 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			@include desktop-sm-min {
			  flex: 0 0 auto;
			  justify-content: flex-start;
			}
			

			a {
				padding: 0 20px 0 0;
			}
		}

		&__social-link {
			width: 25px;
			height: 25px;
		}

		&__copyright {
			flex: 0 0 100%;
			padding: 40px 0 0;
			font-weight: 400;
			
			@include desktop-sm-min {
			  flex: 0 0 auto;
			  margin-left: auto;
			  padding: 0;
			}
			
			
			p {
				color: $color-2;
				font-size: .9rem;
				text-align: center;
				margin: 0;

				@include desktop-sm-min {
				  text-align: right;
				}
				
			}

			a {
				color: $color-2;
				text-decoration: none;
			}
		}

}

}

body.social-reputation footer {
	background: $gradient-social-reputation;
}

body.website-management footer {
	background: $gradient-website-management;
}

body.content-multiplier footer {
	background: $gradient-content-multiplier;
}

body.search-amplifier footer {
	background: $gradient-search-amplifier;
}

body.lead-generator footer {
	background: $gradient-lead-generator;
}

body.success-insights footer {
	background: $gradient-success-insights;
}

body.growth-accelerators footer {
	background: $gradient-growth-accelerators;
	;
}
