footer {
	background: $gradient-website-management;
	padding: 60px 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;

	@include tablet-wide-min {
		position: fixed;
		padding: 40px 60px 20px;
	}

	@include desktop-sm-min {
		padding: 60px 60px 20px;
	}

	h3 {
		color: $color-2;
		margin-bottom: 40px;
	}

	.footer-form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		padding: 40px 0;

		.hbspt-form {
			width: 95%;

			@include tablet-min {
				width: 70%;	
			}
		}

		fieldset.form-columns-2 .input {
			margin-right: 20px;
		}
		
		input {
			box-sizing:border-box;
			background: transparent;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid $color-2;
			width:100%;
			padding: 20px 5px !important;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			color: $color-2;
			font-size: 1rem;

			&::placeholder {
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				color: $color-2;
				font-size: 1rem !important;
			}

			&.hs-button {
                    display: inline-block;
					padding: 15px 20px !important;
					color: $color-2;
					margin-top: 20px;
					font-size: .8rem;
					text-align: center;
					letter-spacing: 2px;
					text-transform: uppercase;
					text-decoration: none;
					background: transparent;
					border: solid $color-2 1px;
					transition: 700ms ease-out;
					border-top-left-radius: 15px;
					border-bottom-right-radius: 15px;
					width: 250px;

					@include desktop-sm-min {
						&:hover {
							background: $color-2;
							border: solid $color-2 1px;
							color: $color-3;
						}
					}
					
                }
		}

		textarea {
			box-sizing:border-box;
			background: transparent;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid $color-2;
			width:100%;
			padding: 20px 5px 0 !important;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			color: $color-2;
			font-size: 1rem;

			&::placeholder {
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
				color: $color-2;
				font-size: 1rem !important;
			}
		}

		label {
				display: none;
			}

		.hs-error-msgs {
				list-style: none !important;
				font-family: 'Montserrat', sans-serif;
				color: $color-2;
				font-size: .9rem;
				padding: 0;

			label {
				display: block;
				text-align: left;
			}
		}
		
	}

	.footer {

		&__items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		&__links {
			flex: 0 0 100%;
			line-height: 1;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			order: 3;
			padding-bottom: 40px;

			@include tablet-wide-min {
				flex: 0 0 33%;
				padding-bottom: 0;
				justify-content: flex-start;
				order: 3;
			}

			a {
				text-decoration: none;
				text-transform: none;
				color: $color-2;
				font-size: .9rem;
				position: relative;
				text-align: center;
				padding: 20px;
				line-height: 1;
				transition: all .3s;
				display: block;

				@include tablet-min {
					display: inline;
					text-align: right;
					padding: 0 20px;
				}

				@include desktop-sm-min {
						&:hover {
						font-size: 1rem;
					}
				}

				&::after {
					content: '/';
					position: absolute;
					bottom: 0;
					right: -4px;
					width: 100%;
					height: auto;
					display: none;

					@include tablet-min {
						display: block;
					}
				}

				&:first-of-type {
					@include tablet-min {
					  padding-left: 0;
					}
					
				}

				&:last-of-type {
					
					@include tablet-min {
						padding-right: 0;
					}

					&::after {
						display: none;
					}
				}

			}
		}

		&__partners {
			flex: 0 0 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 10px;
			order: 2;
			padding: 60px 10px;

			@include tablet-wide-min {
			  flex: 0 0 100%;
			  order: 2;
			}
			
		}

		&__partner {
			flex: 0 0 50%;
			padding: 10px;
			max-width: 150px;

			@include tablet-min {
			  flex: 0 0 auto;
				padding: 0 10px;
				width: 100%;
			  max-width: 200px;
			}
			

			img {
				max-width: 100%;
			}


		}



		&__copyright {
			flex: 0 0 100%;
			order: 5;
			padding-bottom: 40px;

			@include tablet-wide-min {
				flex: 0 0 33%;
				order: 4;
				padding-bottom: 0;
			}

			p {
				text-align: center;
				margin: 0;
				font-size: .7rem;
				line-height: 1;
				color: $color-2;
				font-family: $font-style, sans-serif;
				@include tablet-min {
					font-size: .9rem;
				}

			}

			img {
				width: 30px;
				height: 30px;
			}

		}


		&__social {
			flex: 0 0 100%;
			line-height: 1;
			padding-bottom: 40px;
			order: 4;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@include tablet-wide-min {
				flex: 0 0 33%;
				padding-bottom: 0;
				order: 5;
				justify-content: flex-end;
			}

			a {
				text-decoration: none;
				text-transform: none;
				color: $color-2;
				font-size: .9rem;
				position: relative;
				text-align: center;
				padding: 40px;
				line-height: 1;
				transition: all .3s;
				display: block;

				@include tablet-min {
					display: inline;
					text-align: right;
					padding: 0 20px;
				}

				@include desktop-sm-min {
						&:hover {
						font-size: 1rem;
					}
				}

				&::after {
					content: '/';
					position: absolute;
					bottom: 0;
					right: -4px;
					width: 100%;
					height: auto;
					display: none;

					@include tablet-min {
						display: block;
					}
				}

				&:first-of-type {
					@include tablet-min {
					  padding-left: 0;
					}
					
				}

				&:last-of-type {
					
					@include tablet-min {
						padding-right: 0;
					}

					&::after {
						display: none;
					}
				}

			}
		}
	}

}

body.social-reputation footer {
	background: $gradient-social-reputation;
}

body.website-management footer {
	background: $gradient-website-management;
}

body.content-multiplier footer {
	background: $gradient-content-multiplier;
}

body.search-amplifier footer {
	background: $gradient-search-amplifier;
}

body.lead-generator footer {
	background: $gradient-lead-generator;
}

body.success-insights footer {
	background: $gradient-success-insights;
}

body.growth-accelerators footer {
	background: $gradient-growth-accelerators;
	;
}
