		body.header-bg .header__wrapper {
			background: rgba(255,255,255,1);
		}
		
		.header__wrapper {
			padding: 0 10px;
			display: flex;
			align-items: center;
			height: 60px;

			@include phone-wide-min {
			  padding: 0 20px;
			}
			

			@include desktop-sm-min {
				text-align: center;
				padding: 0 40px;
				height: 80px;
			}


		}
		
		.header__logo {
			width: 180px;
			padding: 5px 5px 5px 0;
			height: 60px;
			display: flex;
			justify-content: flex-start;

			@include phone-wide-min {
			  width: 200px;
			  padding: 5px 0;
			}
			
		}

		.header__logo-img {
			width: 100%;
			height: auto;
			background: url('/img/header-logo-white.svg') left center/contain no-repeat;
		}

		body.header-bg .header__logo-img {
			width: 100%;
			height: auto;
			background: url('/img/header-logo.svg') left center/contain no-repeat;
		}

		.header__cta {
			display: none;

			@include desktop-sm-min {
			  display: flex;
			  align-items: center;
			  justify-content: flex-end;
			  margin-left: auto;
			  padding-right: 35px;
			  margin-left: 0;
			  padding-right: 0;
			  width: 200px;
			}
			

			&--demo {
				text-transform: uppercase;
				font-size: .6rem;
				font-weight: 400;
				text-decoration: none;
				padding: 6px 12px;
				letter-spacing: 1px;
				background: $websites;
				background-position: 1% 50%;
				background-size: 400% 300%;
				transition: 700ms ease-out;
				color: $color-2;
				border-radius: 30px;

				&:hover {
					color: $color-2;
				}

				@include desktop-sm-min {

				&:hover {
						background-position: 60% 50%;
						color: $color-2;
				}

				@include desktop-min {
					padding: 8px 16px;
					font-size: .7rem;
				}
				

			}

			}

			&--login {
				text-transform: uppercase;
				font-size: .8rem;
				color: $websites-2;
				font-weight: 400;
				text-decoration: none;
				padding: 0 16px 0 24px;

				// img {
				// 	width: 30px;
				// 	height: 30px;
				// 	display: block;

				// 	@include desktop-min {
				// 	  width: 40px;
				// 	  height: 40px;
				// 	}
					
				// }
			}

		}

		.dl-morph-dropdown {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 60px;
			z-index: 10;
			background-color: rgba(255,255,255,0);

			&::before {
				/* never visible - used in JS to check mq */
				content: 'mobile';
				display: none;
				
				@include desktop-sm-min {
					content: 'desktop';
				}
			}

			.dropdown {
				position: relative;

				&::after {
				content: '+';
				position: absolute;
				top: 15px;
				right: 20px;
				transform: rotate(0);
				font-size: 1.2rem;
				transition: transform .3s;
			}

			.content {
				max-height: 0;
				overflow: hidden;
				transition: max-height .3s;

					@include desktop-sm-min {
					  height: unset;
					  overflow: unset;
					  max-height: unset;
					}
				}
					
					&.nav--mobile-open .content {
						max-height: 600px;						
					}

					&.nav--mobile-open {

					&::after {
						transform: rotate(45deg);
					}

				}
			}

			.mobile-demo {
				background: $websites-2;
				display: flex;
				padding: 20px;
				margin-bottom: 20px !important;

				a {
					color: $color-2;
					width: 100%;
					text-align: center;

					&:hover {
						color: $color-2;
					}
				}
			}

			ul {
				padding-left: 0;
			}

			@include desktop-sm-min {
				height: 80px;
				left: 0;
				top: 0;
				width: 100%;
				text-align: center;

				.mobile-demo {
					display: none;
				}

				.dropdown-list {
					position: absolute;
					top: 0;
					left: 0;
					visibility: hidden;
					transform: translateZ(0);
					will-change: transform, width, height;
					transition: visibility .3s;
					box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
				}

				.dropdown {
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					visibility: hidden;
					width: 100%;
					-webkit-transition: opacity .3s, visibility .3s;
					transition: opacity .3s, visibility .3s;

					&::after {
						display: none;
					}
				}

				.dropdown.active {
					opacity: 1;
					visibility: visible;
				}

				.dropdown.move-left .content {
					transform: translateX(-100px);
				}

				.dropdown.move-right .content {
					transform: translateX(100px);
				}

				.content {
					padding: 20px 40px 0 20px;
					-webkit-transition: -webkit-transform .3s;
					transition: transform .3s, -webkit-transform .3s;
					text-align: left;
					
					& > ul::after {
						clear: both;
						content: "";
						display: block;
					}

					& > ul > li:nth-of-type(2n) {
						margin-right: 0;
					}	

				}

				.gallery .content {
					/* you need to set a width for the .content elements because they have a position absolute */
					width: 500px;
					padding: 40px 40px 0;
				}

				.links .content {
					width: 300px;
				}

				.links .content ul {
					display: flex;
					flex-wrap: wrap;
					padding: 0;
				}

				.links .content > ul > li {
					margin-top: 0;
					flex: 0 0 100%;
					padding: 10px 10px 5px;
				}

				.links .content > ul > li a {
					font-size: .8rem;
					line-height: 1;
					font-weight: 400;
					text-transform: uppercase;
					text-decoration: none;

					@include desktop-min {
					  font-size: .8rem;
					}
					
				}

				.bg-layer {
					/* morph dropdown background */
					position: absolute;
					top: 15px;
					left: 0;
					height: 1px;
					width: 1px;
					background: #FFFFFF;
					opacity: 0;
					transition: opacity .3s;
					transform-origin: top left;
					transform: translateZ(0);
					will-change: transform;
					backface-visibility: hidden;
				}
			
			}
			
			ul > li::before {
				display: none;
			}

		}

		.no-csstransitions .dl-morph-dropdown .dropdown-list {
				
				@include desktop-sm-min {
					display: none;
				}
				
		}

		.dl-morph-dropdown .dropdown-list {

			@include desktop-sm-min {
				
					& > ul {
					position: relative;
					z-index: 1;
					height: 100%;
					width: 100%;
					overflow: hidden;
					margin: 0;
				}

			}

		}

		.dl-morph-dropdown .nav-trigger {
			/* menu icon - visible on small screens only */
			position: fixed;;
			top: 0;
			right: 0;
			height: 60px;
			width: 60px;
			/* replace text with icon */
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			color: transparent;
			z-index: 100;
			
			@include desktop-sm-min {
				display: none;
			}
			
		}

		.dl-morph-dropdown .nav-trigger span, .dl-morph-dropdown .nav-trigger span::after, .dl-morph-dropdown .nav-trigger span::before {
			/* these are the 3 lines of the menu icon */
			position: absolute;
			background-color: #1A1A1A;
			height: 3px;
			width: 26px;
		}

		.dl-morph-dropdown .nav-trigger span {
			left: 50%;
			top: 50%;
			bottom: auto;
			right: auto;
			transform: translateX(-50%) translateY(-50%);
			transition: background-color .3s;
		}

		.dl-morph-dropdown .nav-trigger span::after, .dl-morph-dropdown .nav-trigger span::before {
			content: '';
			left: 0;
			transition: transform .3s;
		}

		.dl-morph-dropdown .nav-trigger span::before {
			transform: translateY(-9px);
		}

		.dl-morph-dropdown .nav-trigger span::after {
			transform: translateY(9px);
		}

		.dl-morph-dropdown.nav-open .nav-trigger span {
			background-color: transparent;
		}

		.dl-morph-dropdown.nav-open .nav-trigger span::before {
			transform: rotate(45deg);
		}

		.dl-morph-dropdown.nav-open .nav-trigger span::after {
			transform: rotate(-45deg);
		}

		.dl-morph-dropdown .main-nav {
			display: none;

			& > ul {
				margin: 0;
			}
			
			@include desktop-sm-min {
				display: inline-block;
				margin: 0 auto;
				z-index: 100;

					& > ul > li {
					display: inline-block;
					float: left;
					padding: 20px 0;
				}

					& > ul > li > a {
					display: block;
					padding: 0 15px;
					line-height: 1.2;
					color: $color-2;
					font-weight: 400;
					font-size: .8rem;
					text-transform: uppercase;
					transition: opacity .2s;
					text-decoration: none;
				}

			}
			
		}

		body.header-bg .dl-morph-dropdown .main-nav {
			@include desktop-sm-min {
			  & > ul > li > a {
				  color: $color-1;
			  }
			}
			
		}

		.dl-morph-dropdown.is-dropdown-visible {

			@include desktop-sm-min {
				
					.main-nav > ul > li > a {
					/* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
					opacity: .6;
				}

					.main-nav > ul > li.active > a {
					opacity: 1;
				}

					.morph-dropdown-wrapper {
					transform: translateY(0);
				}

					.dropdown-list {
					visibility: visible;
					transition: transform .3s, width .3s, height .3s;	

					&::before {
						opacity: 1;
					}
				}

				.bg-layer {
					opacity: 1;
					transition: transform .3s, opacity .3s;
				}

			}

		}

		.dl-morph-dropdown .morph-dropdown-wrapper {
			display: none;
			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;
			padding: 40px 5% 1.2em;
			box-shadow: inset 0 1px 0 #e6e6e6;
			background-color: #FFFFFF;

			@include phone-wide-min {
			  padding: 20px 5% 1.2em;
			}
			
			
			@include desktop-sm-min {
				/* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
				display: block;
				padding: 1.2em 5%;
				top: 56px;
				/* overwrite mobile style */
				width: auto;
				padding: 0;
				box-shadow: none;
				background-color: transparent;
				transform: translateZ(0);
				will-change: transform;
				transform: translateY(20px);
				transition: transform .3s;
			}
			
		}

		.dl-morph-dropdown.nav-open .morph-dropdown-wrapper {
			display: block;
			position: fixed;
			height: 100%;
			overflow: scroll;
			top: 0;
		}
		.dl-morph-dropdown .dropdown-list > ul > li {
			margin: 0;
			padding: 20px 0 20px 10px;

			@include desktop-sm-min {
			  margin-bottom: 3.3em;
			  padding: 0;
			}
			
		}

		.dl-morph-dropdown .label {
			display: block;
			font-size: .9rem;
			color: $color-1;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: .8em;
			text-decoration: none;
			
			@include desktop-sm-min {
				/* hide the label on bigger devices */
				display: none;
			}
			
		}

		.dl-morph-dropdown a {
			text-decoration: none;
			text-transform: uppercase;	
			font-weight: 400;
		}

		.dl-morph-dropdown .content ul {
			display: flex;
			flex-wrap: wrap;
		}

		.dl-morph-dropdown .content li {
			flex: 0 0 100%;
			padding: 10px 0;
		}

		.dl-morph-dropdown .content li::after {
			clear: both;
			content: "";
			display: block;
		}

		.dl-morph-dropdown .gallery .content ul {
			justify-content: center;
		}

		.dl-morph-dropdown .gallery .content li {
			flex: 0 0 100%;
			padding: 10px 20px 20px 0;

			// @include desktop-sm-min {
			// 	flex: 0 0 50%;
			// }
			
		}

		.dl-morph-dropdown .gallery .content a {
			display: flex;
			align-items: center;
			height: 24px;
			text-decoration: none;
			padding-left: 48px;
			position: relative;
			text-transform: uppercase;
			font-size: .9rem;
			line-height: 1;
			font-weight: 400;

			@include desktop-sm-min {
			  display: block;
			  height: auto;
			  padding-left: 60px;
			}
			
		}

		.dl-morph-dropdown .gallery .content a::before {
			/* icon on the left */
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 32px;
			height: 32px;
			transform: translateY(-50%);

			@include desktop-sm-min {
			  width: 48px;
			  height: 48px;
			}
			
		}

		.dl-morph-dropdown .gallery .content a span {
			font-size: .9rem;
			line-height: 1;
			text-transform: none;
			display: none;
			font-weight: 300;
			padding: 5px 0;
			color: #a6a6a6;

			@include desktop-sm-min {
			  display: block;
			}
			
		}

		.dl-morph-dropdown .gallery .content--secondary {
			flex: 0 0 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 20px 0 0;
			margin-top: 10px;
			border-top: 1px solid $color-6;
		}

		.dl-morph-dropdown .gallery li.website-management a {
				color: $websites;

				&::before {
					background: url(../img/product-icons/website-engineering.svg) center center/contain no-repeat;
				}
		}

		.dl-morph-dropdown .gallery li.content-multiplier a {
			color: $content;

				&::before {
					background: url(../img/product-icons/content-multiplier.svg) center center/contain no-repeat;
				}
		}

		.dl-morph-dropdown .gallery li.social-reputation a {
			color: $reputation;

				&::before {
					background: url(../img/product-icons/social-reputation.svg) center center/contain no-repeat;
				}
		}

		.dl-morph-dropdown .gallery li.search-amplifier a {
			color: $search;

				&::before {
					background: url(../img/product-icons/search-amplifier.svg) center center/contain no-repeat;
				}
		}

		.dl-morph-dropdown .gallery li.lead-generator a {
			color: $leads;

				&::before {
					background: url(../img/product-icons/lead-generator.svg) center center/contain no-repeat;
				}
		}

		.dl-morph-dropdown .gallery li.success-insights a {
			color: $success;

				&::before {
					background: url(../img/product-icons/success-insights.svg) center center/contain no-repeat;
				}
		}

		.dl-morph-dropdown .gallery li.growth-accelerators {

				a {
					color: $growth;
					
					&::before {
					background: url(../img/product-icons/growth-accelerators.svg) center center/contain no-repeat;
				}

				}

		}

		.dl-morph-dropdown .gallery .content li.link--secondary {
			flex: 0 0 100%;
			padding: 10px;

			@include tablet-min {
			  flex: 0 0 50%;
			}
			

			a {
				padding-left: 5px;
				font-size: .8rem;

				@include tablet-min {
				  padding-left: 0;
				}
				
			}

			&-growth-accelerators a {
				color: $growth;
			}

		}

		.dl-morph-dropdown .content h2 {
			color: #a6a6a6;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.3rem;
			margin: 20px 0 10px 14px;
			
			@include desktop-sm-min {
				font-size: 1.8rem;
				text-transform: none;
				font-weight: normal;
				color: #1A1A1A;
				margin: 0 0 .6em;
			}
			
		}



