body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: .9rem;
	line-height: 1.6;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	position: relative;
	right: 0;
	top: 0;
	background-color: rgba(255,255,255,1);
	z-index: 1;

	@include tablet-wide-min {
		font-size: 1.1rem;
	}
}

.body--nav-open {
	position: fixed;
	overflow: hidden;
}

main {
	background-color: rgba(255,255,255,1);
}

.section-gray {
	background: $color-7;
}

.padding-bottom {
	padding-bottom: 60px;
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
	// text-transform: uppercase;
	color: $color-1;
	font-family: $heading-font;
	line-height: 1.2;
}
h1 {
	text-align: left;
	font-weight: 400;
	max-width: 100%;
	font-size: 2rem;
	line-height: 1.1;
	margin: 0 0 10px;

	@include tablet-wide-min {
		font-size: 5vw;
	}

	@include desktop-wide-min {
		font-size: 5rem;
	}
}

h2 {
	font-size: 1.5rem;
	line-height: 1;
	text-align: left;
	margin: 0;
	font-weight: 500;

	@include desktop-sm-min {
		font-size: 2.1rem;
	}
}

h3 {
	font-size: 1.5rem;
	line-height: 1;
	text-align: left;
	margin: 0;
	font-weight: 400;

	@include desktop-sm-min {
		font-size: 1.9rem;
	}
}

h4 {
	font-size: 1.2rem;
	text-align: center;
	margin: 20px 0 0;

	@include desktop-sm-min {
		font-size: 1.5rem;
	}
}

p {
	font-size: 1rem;
	line-height: 1.6;

	@include tablet-wide-min {
	  font-size: 1.2rem;
	}
	
}

p.loud {
	font-size: 1.4rem;
	line-height: 1.1;

	span {
	  font-weight: 500;
	}
		
	@include tablet-min {
      font-size: 3vw;
	}
		
	@include desktop-wide-min {
	  font-size: 2.5rem;
	}
	
}

a {
	color: $color-3;
	transition: color .3s;
	font-family: $font-style, sans-serif;
}

a:hover {
	color: $color-4;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

// ul > li:before {
//     display: inline-block;
//     content: "-";
//     width: 1em;
//     margin-left: -1em;
// }

sup {
	font-size: 12px;
	font-weight: 300;
	padding: 2px 5px;
}


.btn, #submit, button {
	display: inline-block;
	padding: 15px 20px;
	color: $color-2;
	margin-top: 20px;
	font-size: .8rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	background: $websites;
	background-position: 1% 50%;
	background-size: 400% 300%;
	transition: 700ms ease-out;
	border-radius: 30px;
	min-width: 250px;
	border: none;

	&:hover {
		color: $color-2;
	}

	&--clear {
		background: transparent;
		border: solid $color-2 1px;
		transition: all 700ms;
	}

	@include desktop-sm-min {

		&:hover{
	    	background-position: 60% 50%;
				color: $color-2;
		}

		&--clear {
			&:hover {
				background: $color-2;
				border: solid $color-2 1px;
				color: $color-3;
			}
		}

	}
}

.text-link {
	position: relative;
	display: inline-block;
	padding: 10px 0 5px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9rem;
	font-weight: 400;
	text-decoration: none;
	color: $color-3;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $color-4;
		transform: scale(0,1);
		transform-origin: left;
		transition: all .3s;
	}

	@include desktop-sm-min {

		&:hover {
			color: $color-4;

			&::after {
				transform: scale(1,1);
			}

		}

	}

	&--white {
		@extend .text-link;
		color: $color-2;

		&::after {
			background: $color-2;
		}

		@include desktop-sm-min {

			&:hover {
				color: $color-2;
			}
		}
	}

}

.play-link {
	display: inline-block;
	padding: 15px 20px;
	color: $color-2;
	margin-top: 20px;
	font-size: .8rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	background: $websites;
	background-position: 1% 50%;
	background-size: 400% 300%;
	transition: 700ms ease-out;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 250px;
	border: none;
	position: relative;

	&:hover {
		color: $color-2;
	}

	&::before {
          content: '';
          position: absolute;
          left: 40px;
          top: 50%;
          transform: translateY(-50%);
          width: 0; 
          height: 0; 
          border-bottom: 6px solid transparent;
          border-top: 6px solid transparent;
		  border-left: 8px solid $color-2;
		  transition: border-left .3s;
          font-size: 0;
          line-height: 0;
    }


	@include desktop-sm-min {

		&:hover {
			color: $color-2 !important;
		}

	}
}

body.social-reputation .text-link {
	color: $reputation;

	&::after {
		background: $reputation-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $reputation-2;
			}
		}
}

body.website-management .text-link {
	color: $websites;

	&::after {
		background: $websites-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $websites-2;
			}
		}
}

body.content-multiplier .text-link {
	color: $content;

	&::after {
		background: $content-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $content-2;
			}
		}
}

body.search-amplifier .text-link {
	color: $search;

	&::after {
		background: $search-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $search-2;
			}
		}
}

body.lead-generator .text-link {
	color: $leads;

	&::after {
		background: $leads-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $leads-2;
			}
		}
}

body.success-insights .text-link {
	color: $success;

	&::after {
		background: $success-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $success-2;
			}
		}
}

.block {
	@include grid;
}

.component {
	@include grid;
}

.separator {
	width: 100px;
	height: 6px;
	background: $gradient-website-management;
	margin: 20px 0 40px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-size: 200% 200%;
	animation: separatorGradient 10s ease infinite;
	
}

.back-to-product {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 10px;

		a {
		display: block;
		padding: 10px 0 0;
		text-transform: capitalize;
	}

	@include phone-wide-min {
		flex-direction: row;

		a {
			display: inline-block;
			padding: 0;
		}
	}

	@include tablet-min {
	  padding: 0 10px 60px;
	}
	
	
}

.next-page {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px 60px;
	flex-direction: column;
	display: block;

	a {
		display: block;
		padding: 10px 0 0;
		text-transform: capitalize;
	}

	@include tablet-wide-min {
	  display: none;
	}
	

	@include phone-wide-min {
		flex-direction: row;

		a {
			display: inline-block;
			padding: 0;
		}
	}
	
}

body.social-reputation .separator {
	background: $gradient-social-reputation;
}

body.website-management .separator {
	background: $gradient-website-management;
}

body.content-multiplier .separator {
	background: $gradient-content-multiplier;
}

body.search-amplifier .separator {
	background: $gradient-search-amplifier;
}

body.lead-generator .separator {
	background: $gradient-lead-generator;
}

body.success-insights .separator {
	background: $gradient-success-insights;
}

body.growth-accelerators .separator {
	background: $gradient-growth-accelerators;
}

@keyframes separatorGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.product-nav {
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 40px 60px;
	max-width: 1500px;
	margin: 0 auto;
	display: none;

	@include tablet-wide-min {
	  display: flex;
	}
	

	&__prev {
		flex: 0 0 10%;
		position: relative;
		padding: 0 20px;
		text-decoration: none;
		font-weight: 400;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:12px solid $websites;
			transition: border-right .3s; 
		}

		&:hover {
			&::before {
				border-right:12px solid $websites-2;
			}
		}
	}

	&__next {
		flex: 0 0 10%;
		position: relative;
		padding: 0 20px;
		text-decoration: none;
		font-weight: 400;
		text-align: right;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-left:12px solid $websites;
			transition: border-left .3s; 
		}

		&:hover {
			&::after {
				border-left:12px solid $websites-2;
			}
		}
	}

	&__items {
		display: none;

		@include tablet-wide-min {
		  	flex: 0 0 80%;
			@include grid; 
			grid-template-columns: repeat(7, 1fr);
		}
		
		
	}

	&__item {
		grid-column: auto / span 1;
		padding-top: 100%;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow: 0;
		transition: box-shadow .3s;

		&:hover {
			box-shadow: $box-shadow;
		}
	}
}

// #scroll-point {
// 	padding-top: 60px;
// }

footer {
	text-align: center;
	padding: 40px;
}


// Form Elements

.styled-input {
  float: none;
  width: 100%;
  margin: 20px 0;
  position: relative;
}


.styled-textarea {
	position: relative;
	margin-top: 20px;
}


input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border: 1px solid $color-1 !important;
  border-radius: 30px;
  background-color: rgba(255,255,255, .7);
  color: $color-1;
  left: 0;
  border-left: none;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

input:focus,
textarea:focus {
  outline: 0;
}

textarea {
  width: 100%;
}

// Outgrow Customizations

.outgrow-l {
	padding: 0 !important;
}
