body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: .9rem;
	line-height: 1.6;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	position: relative;
	right: 0;
	top: 0;
	transition: right 1s;
	background: $color-2;
	z-index: 1;

	@include tablet-wide-min {
		font-size: 1.1rem;
	}
}

.body--nav-open {
	position: fixed;
	overflow: hidden;
}

main {
	background: $color-2;
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
	// text-transform: uppercase;
	color: $color-1;
	font-family: $heading-font;
	line-height: 1.2;
}
h1 {
	text-align: left;
	font-weight: 400;
	max-width: 100%;
	font-size: 2rem;
	line-height: 1.1;
	margin: 0 0 10px;

	@include tablet-wide-min {
		font-size: 5vw;
	}

	@include desktop-wide-min {
		font-size: 5rem;
	}
}

h2 {
	text-align: left;
	font-weight: 400;
	max-width: 100%;
	font-size: 1.8rem;
	line-height: 1;
	margin: 0 0 10px;

	@include desktop-sm-min {
		font-size: 3vw;
	}

	@include desktop-wide-min {
		font-size: 2.5rem;
	}

	// span {
	// 	font-weight: 700;
	// 	font-size: 2rem;
	// 	display: block;

	// @include desktop-sm-min {
	// 	font-size: 4.5vw;
	// }

	// @include desktop-wide-min {
	// 	font-size: 3.5rem;
	// }
		
	// }
}

h3 {
	font-size: 1.5rem;
	line-height: 1;
	text-align: left;
	margin: 20px 0 0;
	font-weight: 400;

	@include desktop-sm-min {
		font-size: 1.9rem;
	}

	// span {
	// 	font-weight: 700;
	// 	font-size: 1.7rem;

	// 	@include desktop-sm-min {
	// 		font-size: 2rem;
	// 	}
	// }
}

h4 {
	font-size: 1.2rem;
	text-align: center;
	margin: 20px 0 0;

	@include desktop-sm-min {
		font-size: 1.5rem;
	}
}

p {
	font-size: 1rem;
	line-height: 1.6;

	@include tablet-wide-min {
	  font-size: 1.2rem;
	}
	
}

a {
	color: $color-3;
	transition: color .3s;
	font-family: $font-style, sans-serif;
}

a:hover {
	color: $color-4;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ul > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

sup {
	font-size: 12px;
	font-weight: 300;
	padding: 2px 5px;
}


.btn, #submit {
	display: inline-block;
	padding: 15px 20px;
	color: $color-2;
	margin-top: 20px;
	font-size: .8rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	background: $websites-2;
	background-position: 1% 50%;
	background-size: 400% 300%;
	transition: 700ms ease-out;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 250px;

	&:hover {
		color: $color-2;
	}

	&--clear {
		background: transparent;
		border: solid $color-2 1px;
		transition: all 700ms;
	}

	@include desktop-sm-min {

		&:hover{
	    	background-position: 60% 50%;
				color: $color-2;
		}

		&--clear {
			&:hover {
				background: $color-2;
				border: solid $color-2 1px;
				color: $color-3;
			}
		}

	}
}

.text-link {
	position: relative;
	display: inline-block;
	padding: 10px 0 5px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9rem;
	font-weight: 400;
	text-decoration: none;
	color: $color-3;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $color-4;
		transform: scale(0,1);
		transform-origin: left;
		transition: all .3s;
	}

	@include desktop-sm-min {

		&:hover {
			color: $color-4;

			&::after {
				transform: scale(1,1);
			}

		}

	}

	&--white {
		@extend .text-link;
		color: $color-2;

		&::after {
			background: $color-2;
		}

		@include desktop-sm-min {

			&:hover {
				color: $color-2;
			}
		}
	}

}

body.social-reputation .text-link {
	color: $reputation;

	&::after {
		background: $reputation-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $reputation-2;
			}
		}
}

body.website-management .text-link {
	color: $websites;

	&::after {
		background: $websites-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $websites-2;
			}
		}
}

body.content-multiplier .text-link {
	color: $content;

	&::after {
		background: $content-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $content-2;
			}
		}
}

body.search-amplifier .text-link {
	color: $search;

	&::after {
		background: $search-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $search-2;
			}
		}
}

body.lead-generator .text-link {
	color: $leads;

	&::after {
		background: $leads-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $leads-2;
			}
		}
}

body.success-insights .text-link {
	color: $success;

	&::after {
		background: $success-2;
	}

	@include desktop-sm-min {

			&:hover {
				color: $success-2;
			}
		}
}


.block {
	@include grid;
}

.component {
	@include grid;
}

.separator {
	width: 100px;
	height: 6px;
	background: $gradient-website-management;
	margin: 20px 0 40px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-size: 200% 200%;
	animation: separatorGradient 10s ease infinite;
	
}

.back-to-product {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px 60px;

		a {
		display: block;
		padding: 10px 0 0;
	}

	@include phone-wide-min {
		flex-direction: row;

		a {
			display: inline-block;
			text-transform: capitalize;
			padding: 0;
		}
	}
	
}

.next-page {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px 60px;
	flex-direction: column;
	display: block;

	a {
		display: block;
		padding: 10px 0 0;
		text-transform: capitalize;
	}

	@include tablet-wide-min {
	  display: none;
	}
	

	@include phone-wide-min {
		flex-direction: row;

		a {
			display: inline-block;
			padding: 0;
		}
	}
	
}

body.social-reputation .separator {
	background: $gradient-social-reputation;
}

body.website-management .separator {
	background: $gradient-website-management;
}

body.content-multiplier .separator {
	background: $gradient-content-multiplier;
}

body.search-amplifier .separator {
	background: $gradient-search-amplifier;
}

body.lead-generator .separator {
	background: $gradient-lead-generator;
}

body.success-insights .separator {
	background: $gradient-success-insights;
}

body.growth-accelerators .separator {
	background: $gradient-growth-accelerators;
}

@keyframes separatorGradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.product-nav {
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 40px 60px;
	max-width: 1500px;
	margin: 0 auto;
	display: none;

	@include tablet-wide-min {
	  display: flex;
	}
	

	&__prev {
		flex: 0 0 10%;
		position: relative;
		padding: 0 20px;
		text-decoration: none;
		font-weight: 400;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right:12px solid $websites;
			transition: border-right .3s; 
		}

		&:hover {
			&::before {
				border-right:12px solid $websites-2;
			}
		}
	}

	&__next {
		flex: 0 0 10%;
		position: relative;
		padding: 0 20px;
		text-decoration: none;
		font-weight: 400;
		text-align: right;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-left:12px solid $websites;
			transition: border-left .3s; 
		}

		&:hover {
			&::after {
				border-left:12px solid $websites-2;
			}
		}
	}

	&__items {
		display: none;

		@include tablet-wide-min {
		  	flex: 0 0 80%;
			@include grid; 
			grid-template-columns: repeat(7, 1fr);
		}
		
		
	}

	&__item {
		grid-column: auto / span 1;
		padding-top: 100%;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow: 0;
		transition: box-shadow .3s;

		&:hover {
			box-shadow: $box-shadow;
		}
	}
}

// #scroll-point {
// 	padding-top: 60px;
// }

footer {
	text-align: center;
	padding: 40px;
}


.footer-form {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
width: 100%;
padding: 40px 0;

.hbspt-form {
	width: 95%;

	@include tablet-min {
		width: 70%;	
	}
}

fieldset.form-columns-2 .input {
	margin-right: 20px;
}

input {
	box-sizing:border-box;
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid $color-1;
	width:100%;
	padding: 20px 5px !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: $color-1;
	font-size: 1rem;

	&::placeholder {
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: $color-1;
		font-size: .8rem !important;

		@include tablet-min {
			font-size: 1rem !important;
		}

	}

	&.hs-button {
			display: block;
			padding: 15px 20px !important;
			color: $color-2;
			margin: 20px auto 0;
			font-size: .8rem;
			font-weight: 400;
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-decoration: none;
			background: $gradient-website-management;
			background-position: 1% 50%;
			background-size: 400% 300%;
			transition: 700ms ease-out;
			border-top-left-radius: 15px;
			border-bottom-right-radius: 15px;
			width: 250px;

			@include desktop-sm-min {

		&:hover {
	    	background-position: 60% 50%;
				color: $color-2;
			}
		}
			
		}
}

textarea {
	box-sizing:border-box;
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid $color-1;
	width:100%;
	padding: 20px 5px 0 !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: $color-1;
	font-size: 1rem;

	&::placeholder {
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: $color-1;
		font-size: .8rem !important;

		@include tablet-min {
			font-size: 1rem !important;
		}
		
	}
}

label {
		display: none;
	}

.hs-error-msgs {
		list-style: none !important;
		font-family: 'Montserrat', sans-serif;
		color: $color-3;
		font-size: .9rem;
		padding: 0;

	label {
		display: block;
		text-align: left;
	}
}

	}
