body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: .9rem;
	line-height: 1.6;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	position: relative;
	right: 0;
	top: 0;
	transition: right 1s;
	background: $color-2;
	z-index: 1;

	@include tablet-min {
		font-size: 1.1rem;
	}
}

main {
	background: $color-2;

	@include tablet-min {
		margin-bottom: 700px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
	text-transform: uppercase;
	color: $color-1;
	font-family: $heading-font;
	line-height: 1.2;
}
h1 {
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
	}
}

h2 {
	text-align: left;
	font-weight: 300;
	max-width: 100%;
	font-size: 1.8rem;
	line-height: .8;
	margin: 0 0 10px;

	@include desktop-sm-min {
		font-size: 3vw;
	}

	@include desktop-wide-min {
		font-size: 2.5rem;
	}

	span {
		font-weight: 700;
		font-size: 2rem;
		display: block;

	@include desktop-sm-min {
		font-size: 4.5vw;
	}

	@include desktop-wide-min {
		font-size: 3.5rem;
	}
		
	}
}

h3 {
	font-size: 1.5rem;
	line-height: .9;
	text-align: left;
	margin: 20px 0 0;

	@include desktop-sm-min {
		font-size: 1.7rem;
	}

	span {
		font-weight: 700;
		font-size: 1.7rem;

		@include desktop-sm-min {
			font-size: 2rem;
		}
	}
}

h4 {
	font-size: 1.2rem;
	text-align: center;
	margin: 20px 0 0;

	@include desktop-sm-min {
		font-size: 1.5rem;
	}
}

p {
	font-size: 1rem;
	line-height: 1.6rem;
}

a {
	color: $color-3;
	transition: color .3s;
	font-family: $font-style, sans-serif;
}

a:hover {
	color: $color-4;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

ul > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}


.btn, #submit {
	display: inline-block;
	padding: 15px 20px;
	color: $color-2;
	margin-top: 20px;
	font-size: .8rem;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	background: $gradient-website-marketing;
	background-position: 1% 50%;
	background-size: 400% 300%;
	transition: 700ms ease-out;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 250px;

	&:hover {
		color: $color-2;
	}

	&--clear {
		background: transparent;
		border: solid $color-2 1px;
		transition: all 700ms;
	}

	@include desktop-sm-min {

		&:hover{
	    	background-position: 60% 50%;
				color: $color-2;
		}

		&--clear {
			&:hover {
				background: $color-2;
				border: solid $color-2 1px;
				color: $color-3;
			}
		}

	}
}

.text-link {
	position: relative;
	display: inline-block;
	padding: 10px 0 5px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9rem;
	font-weight: 300;
	text-decoration: none;
	color: $color-3;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $color-4;
		transform: scale(0,1);
		transform-origin: left;
		transition: all .3s;
	}

	@include desktop-sm-min {

		&:hover {
			color: $color-4;

			&::after {
				transform: scale(1,1);
			}

		}

	}

	&--white {
		@extend .text-link;
		color: $color-2;

		&::after {
			background: $color-2;
		}

		@include desktop-sm-min {

			&:hover {
				color: $color-2;
			}
		}
	}

}

.block {
	@include grid;
}

.component {
	@include grid;
}

footer {
	text-align: center;
	padding: 40px;
}
