.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 20px;

	&__container {
		max-width: 900px;
		padding: 60px 0;

		h2 {
			font-size: 3rem;
			color: $color-1;
			margin: 0 0 10px;
		}
	}

	&__featured-image {
		padding: 40px 0 20px;
		width: 100%;
		height: auto;
	}

	&__hightlight {
		color: red;
		font-style: italic;
	}

}

// Related Posts Styles

.related-posts {
	padding: 20px;

	@include tablet-min {
		padding: 60px 5%;
	}

	h3 {
		text-align: center;
		margin-bottom: 40px;
	}
	
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__card-wrapper {
		flex: 0 0 100%;
		// padding: 5px;
		display: flex;
		flex-wrap: wrap;

		@include phone-wide-min {
			flex: 0 0 50%;
		}

		@include tablet-min {
			flex: 0 0 33%;
		}
	}

	&__card {
		flex: 1;
		width:100%;
		padding: 15px;
		border-top: solid 1px $color-3;
		border-right: solid 1px $color-3;
		// border-radius: 10px;
		// box-shadow: $box-shadow;

		a {
			text-decoration: none;
		}
	}

	&__card-image {
		padding-top: (9 / 16) * 100%;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&__card-text {
		padding: 10px 0 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h5 {
			color: $color-1;
			text-decoration: none;
			text-transform: none;
			margin: 0;
			font-size: .9rem;
			line-height: 1.2;
			font-weight: 300;
		}
		
		p {
			color: $color-1;
			text-decoration: none;
			font-size: .7rem;
			font-style: italic;
			margin: 0;
		}

	}
}
