.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 120px 20px;

	&__title {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;

		h1 {
			font-size: 3.5rem;
			line-height: 1;
			font-weight: 700;
			max-width: 90%;
			margin: 0 0 15px;
		}

		&--intro {
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 1.4;
		}
	}

	&__featured-image {
		width: 100%;
		max-width: 1200px;
		margin: 60px auto;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		min-height: 600px;
	}

	&__body {
		
		p {
			max-width: 900px;
			margin: 20px auto;
		}

		img {
			max-width: 900px;
			height: auto;
			margin: 40px auto;
		}
	}

	&__quote {
		max-width: 1200px;
		margin: 40px auto;
		font-size: 2rem;
		line-height: 1.2;
		text-align: center;
		font-style: italic;
	}

}

// Related Posts Styles

.related-posts {	
	padding: 20px 20px 0;

	@include tablet-min {
		padding: 60px 20px 0;
	}

	h3 {
		text-align: center;
		margin-bottom: 40px;
	}
	
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__card-wrapper {
		flex: 0 0 100%;
		// padding: 5px;
		display: flex;
		flex-wrap: wrap;

		@include tablet-min {
			flex: 0 0 50%;
		}

		&:nth-of-type(2) {
			.related-posts__card {
				border-right: 0;
			}
		}
	}

	&__card {
		flex: 1;
		width:100%;
		padding: 15px;
		border-top: solid 1px $color-3;
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
		}

		@include tablet-min {
			border-right: solid 1px $color-3;
		}

		@include desktop-sm-min {
			a {

			&:hover .related-posts__card-text {
				transform: translateX(3%);
			}
		}
		}

	}

	&__card-image {
		padding-top: (9 / 16) * 100%;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
	}

	&__card-text {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateX(0);
		transition: transform .3s;

		@include tablet-min {
			padding: 20px 40px;
		}

		h3 {
			font-weight: 700;
			font-size: 2rem;
			text-align: left;
			margin: 0;
			padding: 15px 0;
		}

		h5 {
			color: $color-1;
			text-decoration: none;
			text-transform: none;
			margin: 0;
			font-size: .9rem;
			line-height: 1.2;
			font-weight: 300;
		}
		
		p {
			text-decoration: none;
			margin: 0;
		}

	}

	&__card-tags {
		color: $color-3;
		font-size: .7rem;
	}

	&__card-author {
		color: $color-1;
		font-style: italic;
		text-transform: none;
		font-size: .7rem;
	}

	&__card-highlight {
		color: $color-1;
		text-transform: none;
		font-size: 1rem;
		padding: 15px 0;
	}
}

body.social-reputation {

	.related-posts__card {
		border-color: $reputation;	
	}

	.related-posts__card-tags {
		color: $reputation;
	}
}
