.post {
	width: 100%;
	padding: 60px 20px 0;

	@include tablet-min {
		padding: 100px 20px 0;
	}

	&__featured-image {
		width: 100%;
		max-width: 1300px;
		margin: 60px auto;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		min-height: 400px;
		position: relative;
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		display: flex;
		align-items: center;

		@include tablet-min {
			min-height: 600px;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $gradient-website-marketing;
			opacity: .8;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 50px;
		}
	}

	&__title {
		width: 100%;
		max-width: 900px;
		padding: 40px;
		color: $color-2;
		position: relative;
		z-index: 2;

		h1 {
			font-size: 2rem;
			line-height: 1;
			max-width: 90%;
			margin: 0 0 15px;
			color: $color-2;

			@include tablet-min {
				font-size: 3rem;
			}

			@include desktop-min {
			  font-size: 3.5vw;
			}	
			

			@include desktop-wide-min {
				font-size: 3.5rem;
			}
		}

		&--author {
			font-size: .8rem;

			@include tablet-min {
			  font-size: 1.1rem;
			}
			
		}

		&--intro {
			font-size: 1rem;
			font-weight: 300;
			line-height: 1.4;
			color: $color-2;

			@include tablet-min {
				font-size: 1.6rem;
			}
		}
	}

	&__body {
		
		p {
			max-width: 900px;
			margin: 20px auto;
		}

		h2, h3, h4, h5 {
			max-width: 900px;
			margin: 40px auto;
		}

		ul, ol {
			max-width: 900px;
			margin: 0 auto;
		}

		img {
			max-width: 900px;
			width: 100%;
			height: auto;
			margin: 40px auto;
		}
	}

	blockquote p {
		max-width: 1300px;
		margin: 40px auto;
		font-size: 1.4rem;
		line-height: 1.3;
		text-align: center;
		font-style: italic;

		@include tablet-min {
			font-size: 2rem;
		}
	}
	

	&__footer-author {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: 900px;
		margin: 0 auto;
		padding: 60px 0;

		@include tablet-min {
				justify-content: flex-start;
		}

	}

	&__footer-author-img {
		flex: 0 0 100%;

		@include tablet-min {
				flex: 0 0 auto;
				padding-right: 20px;
		}

		img {
			max-width: 75px;
			height: auto;
			border-radius: 50%;
			display: block;
			margin: 0 auto;

			@include phone-wide-min {
				margin: 0;
			}

			@include tablet-min {
				max-width: 125px;
			}
		}
	}

	&__footer-author-info {
		flex: 0 0 100%;

		@include tablet-min {
				flex: 0 0 50%;
		}

		&--name {
			font-size: .9rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;

			@include phone-wide-min {
				text-align: left;
			}
		}

		&--title {
			font-size: .9rem;
			font-style: italic;
			text-align: center;
			
			@include phone-wide-min {
				text-align: left;
			}
		}

		&--desc {
			font-size: .9rem;
			text-align: center;

			@include phone-wide-min {
				text-align: left;
			}
		}
	}

	&__social {
		max-width: 900px;
		margin: 0 auto;
		padding-bottom: 40px;

		p {
			text-transform: uppercase;
			font-size: .9rem;
			margin-bottom: 5px;
			text-align: center;
			padding: 0 0 20px;

			@include tablet-min {
				text-align: left;
				padding: 0;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li {
			display: block;
			padding: 0 0 20px;
			text-align: center;

			&::before {
				display: none;
			}

			@include tablet-min {
				padding: 0 20px 20px 0;
				display: inline;
				text-align: left;
			}
		}
	}

}

    .related-posts {	
	padding: 20px 20px 0;

	@include tablet-min {
		padding: 60px 20px 0;
	}

	h3 {
		text-align: center;
		margin-bottom: 40px;
	}
	
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__card-wrapper {
		flex: 0 0 100%;
		// padding: 5px;
		display: flex;
		flex-wrap: wrap;

		@include tablet-min {
			flex: 0 0 50%;
		}

		&:nth-of-type(2) {
			.related-posts__card {
				border-right: 0;
			}
		}
	}

	&__card {
		flex: 1;
		width:100%;
		padding: 15px;
		border-top: solid 1px $color-3;
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
		}

		@include tablet-min {
			border-right: solid 1px $color-3;
		}

		@include desktop-sm-min {
			a {

			&:hover .related-posts__card-text {
				transform: translateX(3%);
			}
		}
		}

	}

	&__card-image {
		padding-top: (9 / 16) * 100%;
		background-size: cover !important;
		background-position: center center !important;
		background-repeat: no-repeat !important;
	}

	&__card-text {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateX(0);
		transition: transform .3s;

		@include tablet-min {
			padding: 20px 40px;
		}

		h3 {
			font-size: 2rem;
			text-align: left;
			margin: 0;
			padding: 15px 0;
		}

		h5 {
			color: $color-1;
			text-decoration: none;
			text-transform: none;
			margin: 0;
			font-size: .9rem;
			line-height: 1.2;
			font-weight: 300;
		}
		
		p {
			text-decoration: none;
			margin: 0;
		}

	}

	&__card-tags {
		color: $color-3;
		font-size: .7rem;
	}

	&__card-author {
		color: $color-1;
		font-style: italic;
		text-transform: none;
		font-size: .7rem;
	}

	&__card-highlight {
		color: $color-1;
		text-transform: none;
		font-size: 1rem;
		padding: 15px 0;
	}
}

	body.website-management {

        .related-posts__card {
            border-color: $websites;	
        }

        .related-posts__card-tags {
            color: $websites;
        }
    }

    body.social-reputation {

        .related-posts__card {
            border-color: $reputation;	
        }

        .related-posts__card-tags {
            color: $reputation;
        }
	}
	
	body.success-insights {

        .related-posts__card {
            border-color: $success;	
        }

        .related-posts__card-tags {
            color: $success;
        }
	}
	
	body.lead-generator {

        .related-posts__card {
            border-color: $leads;	
        }

        .related-posts__card-tags {
            color: $leads;
        }
	}
	
	body.search-amplifier {

        .related-posts__card {
            border-color: $search;	
        }

        .related-posts__card-tags {
            color: $search;
        }
	}
	
	body.content-multiplier {

        .related-posts__card {
            border-color: $content;	
        }

        .related-posts__card-tags {
            color: $content;
        }
    }
