---
layout: default
page_name: company
permalink: /company
title: About DoctorLogic
description: "DoctorLogic is an all-in-one website marketing platform created exclusively for healthcare providers. The DoctorLogic software was invented to power custom-designed websites for patient acquisition, retention marketing, and practice insights that help providers connect with more people."
meta_image: "/img/meta/dl.jpg"
nofollow: false
gsap: true
page_class:
- class: company
custom_js: company
hero:
- tagline: Helping Doctors Exceed Their Goals
  headline: Meet DoctorLogic
  text: "DoctorLogic is an all-in-one website marketing platform created exclusively for healthcare providers. The DoctorLogic software was invented to power custom-designed websites for patient acquisition, retention marketing, and practice insights that help providers connect with more people."
history: 
- headline: "About DoctorLogic"
  text-1: "DoctorLogic was formed officially in May of 2013 - but in many ways the history and culture of our company goes back much, much further. The founders of the company, Stuart Lloyd and Ray Myers have worked together building successful companies since 1999."
  text-2: "DoctorLogic provides online marketing tools for the medical industry, primarily to specialty doctors and dentists who own their practice. We offer custom website designs, as well as market proven design options and have created a digital marketing platform that allows users to manage leads, website content, PPC, reputation, galleries, and SEO while providing website analytics from a single, web-based software program."
  wistia-link-id: w7jgkunbv9
  wistia-link-label: Watch Video
  items:
  - class: image-group__image--1
    img_src: "/img/product-icons/with-labels/website-management-label.svg"
    img_alt: "DoctorLogic Webstie Management"
  - class: image-group__image--2
    img_src: "/img/product-icons/with-labels/content-multiplier-label.svg"
    img_alt: "DoctorLogic Content Multiplier"
  - class: image-group__image--3
    img_src: "/img/product-icons/with-labels/social-reputation-label.svg"
    img_alt: "DoctorLogic Social Reputation"
  - class: image-group__image--4
    img_src: "/img/product-icons/with-labels/search-amplifier-label.svg"
    img_alt: "DoctorLogic Search Amplifier"
  - class: image-group__image--5
    img_src: "/img/product-icons/with-labels/lead-generator-label.svg"
    img_alt: "DoctorLogic Lead Generator"
  - class: image-group__image--6
    img_src: "/img/product-icons/with-labels/success-insights-label.svg"
    img_alt: "DoctorLogic Success Insights"
  - class: image-group__image--7
    img_src: "/img/product-icons/dl.svg"
    img_alt: "DoctorLogic Platform"
results:
  - headline: "We Are Results Driven"
    items:
    - class: "company-results__item--1"
      value: "5406392"
      label: "Web Pages Created"
    - class: "company-results__item--2"
      value: "21114576"
      label: "Keywords Generated"
    - class: "company-results__item--3"
      value: "44950522"
      label: "Website Visits"
    - class: "company-results__item--4"
      value: "1653209"
      label: "Leads Generated"
    - class: "company-results__item--5"
      value: "20358"
      label: "Before & After Galleries Created"
    - class: "company-results__item--6"
      value: "116758"
      label: "Patient Reviews Acquired"
---

{% for hero in page.hero %}
<section class="hero hero-1 {{hero.class}}">
  <div class="hero-1__text">
    <h5>{{hero.tagline}}</h5>
    <h1>{{hero.headline}}</h1>
    <p>{{hero.text}}</p>
  </div>
</section>
{% endfor %}

{% for history in page.history %}
<section class="company-history">
  <h3>{{ history.headline }}</h3>
  <p>{{ history.text-1 }}</p>
  <div class="company-history__image-group">
    <div class="image-group__container">
      {% for item in history.items %}
        <div class="image-group__image {{ item.class | join: ' ' }}">
          <img src="{{ item.img_src }}" alt="{{ item.img_alt }}">
        </div>
      {% endfor %}
    </div>
  </div>
  <p>{{ history.text-2 }}</p>
  <script src="https://fast.wistia.com/embed/medias/{{history.wistia-link-id}}.jsonp" async></script>
  <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span
    class="wistia_embed wistia_async_{{history.wistia-link-id}} popover=true popoverContent=link"
    style="display:inline;position:relative"><a class="text-link" href="#">{{history.wistia-link-label}}</a></span>
</section>
{% endfor %}

{% for results in page.results %}
<section class="company-results">
  <h3 class="compay-results__headline">{{ results.headline }}</h3>
  <div class="company-results__items">
    {% for item in results.items %}
    <div class="company-results__item {{ item.class }}">
      <h2><span data-number-spinner="{{ item.value }}" >0</span></h3>
      <h3>{{ item.label }}</h3>
    </div>
    {% endfor %}
  </div>
</section>
{% endfor %}

<section class="company-difference">
  <h3 class="company-difference__headline">The DoctorLogic Difference</h3>
  <p class="company-difference__text">Our difference depends on the diverse, engaged, passionate, and experienced people who create our ideas and serve our
  clients. As our partner, you will also have access to the latest solutions, transparent reporting, unlimited content,
  unlimited technology upgrades, unlimited support and a 100% HIPAA compliant platform. You will be taken care of with
  feedback on how to grow your practice from like minded people who are medical marketing experts.</p>
  <a href="/the-doctorlogic-difference" class="btn">See The Difference</a>
</section>


