---
layout: default
page_name: designs
permalink: /designs/
page_class: designs
magnific: true
custom_js: designs
hs_form_id: "75c57a13-9090-4db1-acd0-be51d1a76f7e"
hero:
  - class: pricing__hero
    headline: Design Gallery
    text: "We believe in simple pricing. We have website pricing that starts at just $495 a month. Let’s talk today to determine a
    solution that works for your practice."
---

{% for hero in page.hero %}
<section class="hero hero-2 {{hero.class}}">
    <div class="hero-2__text">
      <h1>{{hero.headline}}</h1>
      <div class="separator"></div>
      <p>{{hero.text}}</p>
    </div>
</section>
{% endfor %}

<section class="designs__intro">
  <h3>Stunning, Modern Designs</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatibus rerum et odio vero vel eius unde voluptates eveniet cupiditate excepturi distinctio deleniti, accusantium dignissimos animi expedita? Dolorem, omnis totam.</p>
</section>

<section class="designs__wrapper">
  <input type="radio" id="reset" name="color" checked="checked" />
  <label for="reset"><span><p>All</p></span></label>
  <input type="radio" id="cosmetic" name="color" />
  <label for="cosmetic"><span><p>Cosmetic</p></span></label>
  <input type="radio" id="dentistry" name="color" />
  <label for="dentistry"><span><p>Dentistry</p></span></label>
  <input type="radio" id="med-spa" name="color" />
  <label for="med-spa"><span><p>Med Spa</p></span></label>

  <div class="designs__items">

    {% for item in site.data.designs.gallery %}
    <a class="designs__item" data-type="{{item.type}}" href="{{item.img}}" data-title="<ul><li><span>{{item.name}}</span></li><li><span>URL:</span> <a href={{item.link}} target=blank>{{item.link-label}}</a></li></ul>">
      <div class="card {{item.type}}">
        <div class="card__image" style="background: url('{{item.img}}');"></div>
        <p class="card__title">
          {{item.name}}
        </p>
      </div>
    </a>
    {% endfor %}

  </div>

</section>

