---
layout: default
page_name: pricing
title: Digital Marketing & Website Pricing for Doctors | DoctorLogic
description: "At DoctorLogic we believe in simple pricing for our digital website services. Click to find out how we make it affordable to grow your practice today."
meta_image: "/img/meta/dl.jpg"
nofollow: false
permalink: /medical-website-pricing
rangeslider: true
custom_js: pricing
page_class:
  - class: pricing
hero:
  - class: pricing__hero
    tagline: Simple. Straight forward.
    headline: Our Pricing
    text: "We believe in simple pricing. We have website pricing that starts at just $495 a month. Let’s talk today to determine a
    solution that works for your practice."
features:
  - img: ../img/product-icons/with-labels/website-management-label.svg
    alt: "Website Management"
    link: /medical-website-management
    feature-items:
    - feature: "Core Platform"
    - feature: "Custom Designs"
  - img: ../img/product-icons/with-labels/content-multiplier-label.svg
    alt: "Content Multiplier"
    link: /medical-website-content-multiplier
    feature-items:
    - feature: "Before & After Photos"
    - feature: "On-Page Editing"
  - img: ../img/product-icons/with-labels/social-reputation-label.svg
    alt: "Social Reputation"
    link: /online-reputation-management-doctors
    feature-items:
    - feature: "Reviews Management"
    - feature: "Local Data Management"
  - img: ../img/product-icons/with-labels/search-amplifier-label.svg
    alt: "Search Amplifier"
    link: /medical-seo-search-amplifier
    feature-items:
    - feature: "Essential SEO"
    - feature: "Local Data Management"
  - img: ../img/product-icons/with-labels/lead-generator-label.svg
    alt: "Lead Generator"
    link: /healthcare-lead-generator
    feature-items:
    - feature: "Essential SEO"
    - feature: "Local Data Management"
  - img: ../img/product-icons/with-labels/success-insights-label.svg
    alt: "Success Insights"
    link: /medical-website-success-insights
    feature-items:
    - feature: "Essential SEO"
    - feature: "Local Data Management"

sliders:
  - headline: Number of Procedures/Services
    labels: ['20', '30', '40', '50', '60', 'More']
    values: ['395', '495', '595', '695', '795', 'Infinity']
  - headline: Number of Providers
    labels: ['1', '2', '3', '4', 'More']
    values: ['100', '200', '300', '400', 'Infinity']
  - headline: Number of Locations
    labels: ['1', '2', '3', '4', 'More']
    values: ['100', '200', '300', '400', 'Infinity']

callout:
  - headline: Ready To See The Difference?
    text: It's easy to get started. Schedule a one-on-one demo with a sales representative today.
    btn-link: /get-a-demo.html
    btn-label: Get a Demo
---

<section class="price-slider">
  <h3>Estimate Your Price</h3>
  <p class="price-slider__text">Use the calculator below to select the options best suited for your practice.</p>
  <div class="price-slider__items">
    {% for slider in page.sliders %}
    <div class="price-slider__item">
      <div class="price-slider__headline">{{slider.headline}}</div>
      <div class="price-slider__slider">
        <input type="range" value="0" min="0" max="{{slider.values.size | minus: 1}}"
          labels="{{ slider.labels | join: ', ' }}" values="{{ slider.values | join: ', ' }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="price-slider__price">
    <h4>Websites Starting At:</h4>
    <output id="js-result">$0.00</output>
    <p class="price-slider__price--disclaimer">Per Month</p>
  </div>

</section>

<section class="pricing-features">
  <h3>Discover our All-In-One Website Marketing Platform</h3>
  <div class="pricing-features__items">
    {% for feature in page.features %}
    <a class="pricing-features__item" href="{{ feature.link }}">
      <img src="{{ feature.img }}" alt="{{ feature.alt }}">
    </a>
    {% endfor %}
  </div>
</section>

{% for callout in page.callout %}
<section class="pricing-callout">
  <h3>{{ callout.headline }}</h3>
  <p>{{ callout.text }}</p>
  <a href="{{ callout.btn-link }}" class="btn">{{ callout.btn-label }}</a>
</section>
{% endfor %}

