<div id="pricing-calc">
  <div class="section-container">
    <div class="row center-xs">
      <div class="col-lg-6 col-sm-12 col-xs-12 section-header">
        <h2>Every website comes with the following features:</h2>
      </div>
    </div>
    <div class="row center-xs">
      <div class="included-container">
        <div class="included-wrapper">
          <div class="retina-health-care-medical-008 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Core Platform</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-the-essentials-008 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Essential SEO</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-the-essentials-017 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Entire Review Suite</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-business-001 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Rich Reporting Analytics</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-education-learning-015 included-wrapper__icon"></div>
          <div class="included-wrapper__item">On-Page Editing</div>
        </div>
      </div>
      <div class="included-container">
        <div class="included-wrapper">
          <div class="retina-the-essentials-016 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Entire Photo Gallery Suite</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-the-essentials-090 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Entire Video Suite</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-travel-transport041 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Local Data Management</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-gadgets-device-tech015 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Design Selection</div>
        </div>
        <div class="included-wrapper">
          <div class="retina-the-essentials-102 included-wrapper__icon"></div>
          <div class="included-wrapper__item">Much, Much More</div>
        </div>
      </div>
    </div>
    <div class="row center-xs pricing-calc-container">
      <div class="col-lg-12 col-sm-12 col-xs-12 ">
        <h3>Estimate Your Price:</h3>
      </div>
      <div class="col-lg-5 col-sm-10 col-xs-12 pricing-calc__results">
        <h4>Website Starting At:</h4>
        <div class="pricing-calc__results--price" id="slider-result">
          <sup>$</sup>495
        </div>
        <p class="pricing-calc__results--disclaimer">
          *Monthly
        </p>
        <p class="pricing-calc__results--description">
          All websites are configurable to suit the needs of your practice.
        </p>
        <a href="#faq" target="_self" class="btn">Learn More</a>
      </div>
      <div class="col-lg-5 col-sm-10 col-xs-12 pricing-calc__controls">
        <div class="pricing-calc__controls-header">Use the controls below to estimate your price.</div>
        <div class="pricing-calc__controls-container">
          <div class="pricing-calc__controls-slider">
            <div class="pricing-calc__controls-slider-header"><span class="retina-health-care-medical-027 pricing-calc__controls-slider-header-icon"></span>Number of Procedures</div>
            <div class="slider" id="slider-procedures"></div>
            <div id="slider-procedures-hidden" class="slider-hidden">0</div>
            <div class="key">
              <div class="key__step"><div class="key__step-label">5</div></div>
              <div class="key__step"><div class="key__step-label">10</div></div>
              <div class="key__step"><div class="key__step-label">20</div></div>
              <div class="key__step"><div class="key__step-label">30</div></div>
              <div class="key__step"><div class="key__step-label">40</div></div>
              <div class="key__step"><div class="key__step-label">more</div></div>
              <!-- <div class="key__step"><div class="key__step-label">more</div></div> -->
            </div>
          </div>
          <div class="pricing-calc__controls-slider">
            <div class="pricing-calc__controls-slider-header"><span class="retina-health-care-medical-016 pricing-calc__controls-slider-header-icon"></span>Number of Doctors</div>
            <div class="slider" id="slider-doctors"></div>
            <div id="slider-doctors-hidden" class="slider-hidden">0</div>
            <div class="key">
              <div class="key__step"><div class="key__step-label">1</div></div>
              <div class="key__step"><div class="key__step-label">2</div></div>
              <div class="key__step"><div class="key__step-label">3</div></div>
              <div class="key__step"><div class="key__step-label">4</div></div>
              <div class="key__step"><div class="key__step-label">more</div></div>
            </div>
          </div>
          <div class="pricing-calc__controls-slider">
            <div class="pricing-calc__controls-slider-header"><span class="retina-the-essentials-070 pricing-calc__controls-slider-header-icon"></span>Number of Locations</div>
            <div class="slider" id="slider-locations"></div>
            <div id="slider-locations-hidden" class="slider-hidden">0</div>
            <div class="key">
              <div class="key__step"><div class="key__step-label">1</div></div>
              <div class="key__step"><div class="key__step-label">2</div></div>
              <div class="key__step"><div class="key__step-label">3</div></div>
              <div class="key__step"><div class="key__step-label">4</div></div>
              <div class="key__step"><div class="key__step-label">more</div></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row center-xs disclaimer">* Pricing and packaging subject to change, please contact us for details.</div>
    <div class="row center-xs extras">
      <div class="extras__container col-xs-10">
        <h3>All Plans Include The Following:</h3>
        <ul>
          <li>Choice of design type</li>
          <li>Unlimited Technology Upgrades</li>
          <li>Dedicated Project Manager</li>
          <li>100% ownership of content</li>
          <li>Dedicated Support</li>
          <li>TLS / SSL Encryption</li>
          <li>24/7/365 Monitoring</li>
          <li>Global Traffic Scaling</li>
          <li>Option to add custom pages</li>
          <li>Social Media Branding</li>
          <li>Review Profile Branding</li>
          <li>Analytic Reporting</li>
          <li>Ability to add Blog</li>
          <li>SEO Algorithm Updates</li>
          <li>Keyword Performance Tracking</li>
        </ul>
      </div>
    </div>
  </div>
</div>
