<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <g>
        <path
            d="M29,4H24V1a1,1,0,0,0-2,0V4H10V1A1,1,0,0,0,8,1V4H3A2,2,0,0,0,1,6V29a2,2,0,0,0,2,2H29a2,2,0,0,0,2-2V6A2,2,0,0,0,29,4ZM28,29H4a1,1,0,0,1-1-1V10A1,1,0,0,1,4,9H28a1,1,0,0,1,1,1V28A1,1,0,0,1,28,29Z"></path>
        <rect x="5" y="20" width="6" height="5"></rect>
        <rect x="5" y="13" width="6" height="5"></rect>
        <rect x="13" y="20" width="6" height="5"></rect>
        <rect x="13" y="13" width="6" height="5"></rect>
        <rect x="21" y="13" width="6" height="5"></rect>
    </g>
</svg>