---
layout: default
description: Our expert design team specializes in building custom healthcare websites that fit your brand and look great on any device.
meta_image: "/img/meta/website-management.jpg"
page_name: designs
permalink: /products/website-management/website-design/
page_class:
  - class: designs
magnific: true
gsap: true
custom_js: designs
hs_form_id: "75c57a13-9090-4db1-acd0-be51d1a76f7e"
back_page: website-management
hero:
  - class: pricing__hero
    tagline: Modern, Intelligent Design
    headline: Medical Website Portfolio
    text: "Our expert design team specializes in building custom healthcare websites that fit your brand and look great on any device. Each beautifully designed medical website is optimized for search performance and converting visitors into patients."
callout:
  - class: designs__callout
    headline: lorem ipsum
    text: Enter Your Website For a Free Website Design Quote
    subscription:
      - hs_form_id: 06f56631-a445-49da-89a7-b852166248b1

---

{% for hero in page.hero %}
<section class="hero hero-2 {{hero.class}}">
    <div class="hero-2__text">
      <div class="hero-2__tagline">
        <h5>{{hero.tagline}}</h5>
      </div>
      <h1>{{hero.headline}}</h1>
      <p>{{hero.text}}</p>
    </div>
</section>
{% endfor %}

<section class="designs__wrapper">
  <input type="radio" id="aesthetic" name="color" checked="checked" />
  <label for="aesthetic"><span>
      <p>Aesthetic</p>
    </span></label>
  <input type="radio" id="dentistry" name="color" />
  <label for="dentistry"><span>
      <p>Dentistry</p>
    </span></label>
  <input type="radio" id="other" name="color" />
  <label for="other"><span>
      <p>Other</p>
    </span></label>

  <div class="designs__items">

    {% for item in site.data.designs.gallery %}
    <a class="designs__item" data-type="{{item.type}}" href="{{item.img}}"
      data-title="<ul><li><span>{{item.name}}</span></li><li><span>URL:</span> <a href={{item.link}} target=blank>{{item.link-label}}</a></li></ul>">
      <div class="card {{item.type}}">
        <div class="card__image" style="background: url('{{item.img}}');"></div>
        <p class="card__title">
          {{item.name}}
        </p>
      </div>
    </a>
    {% endfor %}

  </div>

</section>

{% for callout in page.callout %}
<section class="component callout {{ callout.class }}">
  <!-- <h3>{{ callout.headline }}</h3> -->
    <p>{{ callout.text }}</p>
    {% for subscription in callout.subscription %}
    {% if subscription %}
    <div class="designs__callout-subscription">
      <div class="email-form--inline">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "2805307",
            formId: "{{subscription.hs_form_id}}"
          });
        </script>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endfor %}

<section class="designs__gallery-text">
  <h3>Custom Designed for Your Brand</h3>
  <p>A beautifully crafted and thought-out website designed to provide the best user experience will generate new patients and ultimately grow practice revenue.</p>
</section>

<section class="designs__video">
  
  <div class="designs__video-wrapper">
    <script src="https://fast.wistia.com/embed/medias/qosreeqzk5.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_qosreeqzk5 videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
      </div>
    </div>
  </div>
</section>





