<html>
{% include head.html %}
{% include base.html %}

		{% for class in page.page_class %}
		{% if class.class %}
		<body class="body {{ page.page_class | map: 'class' | join: ' ' }}">
		{% else %}
		<body>
		{% endif %}
		{% endfor %}
		{% include header.html %}
		<main id="main">
			{% for section in page.page_sections %}
			{% include component-{{ section.component }}.html %}
			{% endfor %}
			{% if page.product %}
			<div class="related-posts">

				<h3>Up Next: <a href="/products/{{ page.next_page }}">{{ page.next_page | replace: '-', ' '}}</a></h3>
				<div class="related-posts__cards">
			
				{% assign maxRelated = 2 %}
				{% assign minCommonTags =  1 %}
				{% assign maxRelatedCounter = 0 %}
			
				{% for post in site.posts %}
			
				{% assign sameTagCount = 0 %}
				{% assign commonTags = '' %}
			
				{% for product in post.product %}
				{% if post.url != page.url %}
				{% if page.product contains product %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
				{% capture tagmarkup %} <span class="label label-default">{{ product }}</span> {% endcapture %}
				{% assign commonTags = commonTags | append: tagmarkup %}
				{% endif %}
				{% endif %}
				{% endfor %}
			
				{% if sameTagCount >= minCommonTags %}
				
				<div class="related-posts__card-wrapper">
					<div class="related-posts__card">
						<a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">
							<div class="related-posts__card-image" style="background:url('{{ post.post_image }}')"></div>
							<div class="related-posts__card-text">
								<p class="related-posts__card-tags">{{ post.tags[0] | replace: '-', ' ' }}, {{ post.tags[1] | replace: '-', ' '}}</p>
								<h3>{{ post.post_title }}</h3>
								<p class="related-posts__card-highlight">{{ post.post_highlight }}</p>
								<p class="related-posts__card-author">By {{ post.post_author }}</p>
							</div>
						</a>
					</div>
				</div>
				
				{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% if maxRelatedCounter >= maxRelated %}
				{% break %}
				{% endif %}
				{% endif %}
			
				{% endfor %}
				</div>
				
			
			</div>
			{% endif %}
			<div id="scroll-point"></div>
		</main>
		{% include footer.html %}
	</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ base }}/js/smooth-scroll.polyfills.min.js"></script>
<script src="{{ base }}/js/header.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>

{% if page.gsap == true %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script> -->
<script src="{{ base }}/js/TweenMax.min.js"></script>
<script src="{{ base }}/js/DrawSVGPlugin.min.js"></script>
<script src="{{ base }}/js/ScrollMagic.js"></script>
<script src="{{ base }}/js/animation.gsap.js"></script>
<script src="{{ base }}/js/debug.addIndicators.js"></script>
{% endif %}

{% if page.anime == true %}
<script src="{{ base }}/js/anime.min.js"></script>
<script src="{{ base }}/js/animation.anime.min.js"></script>
{% endif %}

{% if page.custom_js %}
{% for js_file in page.custom_js %}
<script src='{{ base }}/js/{{ js_file }}.js' type="text/javascript"></script>
{% endfor %}
{% endif %}

<script>
	var scroll = new SmoothScroll('a[href*="#"]', {
		updateURL: false
	});
</script>

<script>
	if ($(window).width() >= 991) {
		$(window).on("load resize", function () {
			var footerHeight = $("#footer").outerHeight();
			$("#main").css("margin-bottom", footerHeight);
		});
	}
</script>

</html>
