<html>
{% include head.html %}
{% include base.html %}

		{% for class in page.page_class %}
		{% if class.class %}
		<body class="body {{ page.page_class | map: 'class' | join: ' ' }}">
		{% else %}
		<body>
		{% endif %}
		{% endfor %}
		{% include header.html %}
		<main id="main">
			{% for section in page.page_sections %}
			{% include component-{{ section.component }}.html %}
			{% endfor %}
			{% if page.product %}
			<div class="related-posts">

				{% if page.next_page %}
				<section class="next-page">
					<h3>Up Next: <a href="/products/{{ page.next_page }}">{{ page.next_page | replace: '-', ' '}}</a></h3>
				</section>
				{% endif %}

				{% for product_nav in page.product_nav %}
				{% if page.product_nav %}
				<section class="product-nav">
					<a href="/products/{{ product_nav.product_prev }}" class="product-nav__prev">Prev</a>
					<div class="product-nav__items">
						<a href="/products/website-management" class="product-nav__item" style="background:url('/img/product-icons/with-labels/website-management-label.svg') center center/contain no-repeat">
						</a>
						<a href="/products/content-multiplier" class="product-nav__item" style="background: url('/img/product-icons/with-labels/content-multiplier-label.svg') center center/contain no-repeat">
						</a>
						<a href="/products/social-reputation" class="product-nav__item" style="background: url('/img/product-icons/with-labels/social-reputation-label.svg') center center/contain no-repeat;">
						</a>
						<a href="/products/search-amplifier" class="product-nav__item" style="background: url('/img/product-icons/with-labels/search-amplifier-label.svg') center center/contain no-repeat">
						</a>
						<a href="/products/lead-generator" class="product-nav__item" style="background: url('/img/product-icons/with-labels/lead-generator-label.svg') center center/contain no-repeat">
						</a>
						<a href="/products/success-insights" class="product-nav__item" style="background: url('/img/product-icons/with-labels/success-insights-label.svg') center center/contain no-repeat">
						</a>
						<a href="/products/growth-accelerators" class="product-nav__item" style="background: url('/img/product-icons/with-labels/growth-accelerators-label.svg') center center/contain no-repeat">
						</a>
					</div>
					<a href="/products/{{ product_nav.product_next }}" class="product-nav__next">Next</a>
				</section>
				{% endif %}
				{% endfor %}

				{% if page.back_page %}
				<section class="back-to-product">
					<h3>Back To: <a href="/products/{{ page.back_page }}">{{ page.back_page | replace: '-', ' '}}</a></h3>
				</section>
				{% endif %}

				<div id="scroll-point"></div>
				

				<div class="related-posts__cards">
			
				{% assign maxRelated = 2 %}
				{% assign minCommonTags =  1 %}
				{% assign maxRelatedCounter = 0 %}
			
				{% for post in site.posts %}
			
				{% assign sameTagCount = 0 %}
				{% assign commonTags = '' %}
			
				{% for product in post.product %}
				{% if post.url != page.url %}
				{% if page.product contains product %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
				{% capture tagmarkup %} <span class="label label-default">{{ product }}</span> {% endcapture %}
				{% assign commonTags = commonTags | append: tagmarkup %}
				{% endif %}
				{% endif %}
				{% endfor %}
			
				{% if sameTagCount >= minCommonTags %}
				
				<div class="related-posts__card-wrapper">
					<div class="related-posts__card">
						<a href="{{ site.baseurl }}{{ post.url }}"  target="_blank">
							<div class="related-posts__card-image" style="background:url('{{ post.post_image }}')"></div>
							<div class="related-posts__card-text">
								<p class="related-posts__card-tags">{{ post.tags[0] | replace: '-', ' ' }}, {{ post.tags[1] | replace: '-', ' '}}</p>
								<h3>{{ post.post_title }}</h3>
								<p class="related-posts__card-highlight">{{ post.post_highlight }}</p>
								<p class="related-posts__card-author">By {{ post.post_author }}</p>
							</div>
						</a>
					</div>
				</div>
				
				{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% if maxRelatedCounter >= maxRelated %}
				{% break %}
				{% endif %}
				{% endif %}
			
				{% endfor %}
				</div>
				
			
			</div>
			{% endif %}
		</main>
		{% include footer.html %}
	</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ base }}/js/smooth-scroll.polyfills.min.js"></script>
<script src="{{ base }}/js/header.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>

{% if page.gsap == true %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script> -->
<script src="{{ base }}/js/TweenMax.min.js"></script>
<script src="{{ base }}/js/DrawSVGPlugin.min.js"></script>
<script src="{{ base }}/js/ScrollMagic.js"></script>
<script src="{{ base }}/js/animation.gsap.js"></script>
<script src="{{ base }}/js/debug.addIndicators.js"></script>
{% endif %}

{% if page.anime == true %}
<script src="{{ base }}/js/anime.min.js"></script>
<script src="{{ base }}/js/animation.anime.min.js"></script>
{% endif %}

{% if page.custom_js %}
{% for js_file in page.custom_js %}
<script src='{{ base }}/js/{{ js_file }}.js' type="text/javascript"></script>
{% endfor %}
{% endif %}

<script>
	var scroll = new SmoothScroll('a[href*="#"]', {
		updateURL: false,
		offset: 60
	});
</script>

<script>
	if ($(window).width() >= 991) {
		$(window).on("load resize", function () {
			var footerHeight = $("#footer").outerHeight();
			$("#main").css("margin-bottom", footerHeight);
		});
	}
</script>

<!-- Forms -->

<script>
	var confirm = document.querySelector(".confirmation");
	function thankyou() {
		confirm.innerHTML = "Thank you for signing up!";
	}
</script>

<script>
	(function () {
		var inputs = document.querySelectorAll('input[name="Referrer"]');
		for (var i = 0, l = inputs.length; i < l; i++) {
			var input = inputs[i];
			input.value = document.referrer;
		}
	})();
</script>

<script>
	(function () {
		var inputs = document.querySelectorAll('input[name="ReferralPage"]');
		for (var i = 0, l = inputs.length; i < l; i++) {
			var input = inputs[i];
			input.value = document.URL;
		}
	})();
</script>


</html>
