<html>
{% include head.html %}

	<body>
		{% include header.html %}
		<div class="main {{page.page_class}}">
			{% for section in page.page_sections %}
			{% include component-{{ section.component }}.html %}
			{% endfor %}
			<div class="related-posts">
			
				{% assign maxRelated = 3 %}
				{% assign minCommonTags =  1 %}
				{% assign maxRelatedCounter = 0 %}
			
				{% for post in site.posts %}
			
				{% assign sameTagCount = 0 %}
				{% assign commonTags = '' %}
			
				{% for product in post.product %}
				{% if post.url != page.url %}
				{% if page.product contains product %}
				{% assign sameTagCount = sameTagCount | plus: 1 %}
				{% capture tagmarkup %} <span class="label label-default">{{ product }}</span> {% endcapture %}
				{% assign commonTags = commonTags | append: tagmarkup %}
				{% endif %}
				{% endif %}
				{% endfor %}
			
				{% if sameTagCount >= minCommonTags %}
				<h3>Posts About {{ commonTags }}</h3>
				<div class="related-posts__cards">
					<div class="related-posts__card">
						<a href="{{ site.baseurl }}{{ post.url }}" target="_blank">
							<div class="related-posts__card-image" style="background:url('{{ post.post_image }}')"></div>
							<div class="related-posts__card-text">
								<h5>{{ post.title }}</h5>
								<p>{{ post.date | date: "%b %-d, %Y" }}</p>
							</div>
						</a>
					</div>
				</div>
				{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% if maxRelatedCounter >= maxRelated %}
				{% break %}
				{% endif %}
				{% endif %}
			
				{% endfor %}
				
			
			</div>
			{% include footer.html %}
		</div>
	</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script>
	//off-canvas nav for mobile
	$(document).ready(function(){
	$('.header__toggle-icon').click(function(e){
		e.preventDefault();
		$("body").toggleClass("openNav");
	});
	$('.header__toggle-icon').click(function(e){
		$(".header-menu__link").removeClass("openNav");
	});
});
</script>

<script>
	// hamburger animation
	(function() {
		var button = document.getElementById('header__toggle-button');
		function toggleActive() {
			button.classList.toggle('active');
		}
		button.addEventListener('click', toggleActive);
		})();
</script>

<script>
	$(window).scroll(function() {
		var scroll = $(window).scrollTop();

		if (scroll >= 50) {
				$(".header").addClass("header-bg");
		} else {
				$(".header").removeClass("header-bg");
		}
	});
</script>

</html>
