<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main class="{{ page.page_class }}">
			{{ content }}
	</main>
	{% include footer.html %}
</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script>
	//off-canvas nav for mobile
	$(document).ready(function(){
	$('.header__toggle-icon').click(function(e){
		e.preventDefault();
		$("body").toggleClass("openNav");
	});
	$('.header__toggle-icon').click(function(e){
		$(".header-menu__link").removeClass("openNav");
	});
});
</script>

<script>
	// hamburger animation
	(function() {
		var button = document.getElementById('header__toggle-button');
		function toggleActive() {
			button.classList.toggle('active');
		}
		button.addEventListener('click', toggleActive);
		})();
</script>

<script>
	$(window).scroll(function() {
		var scroll = $(window).scrollTop();

		if (scroll >= 50) {
				$(".header").addClass("header-bg");
		} else {
				$(".header").removeClass("header-bg");
		}
	});
</script>

</html>
