<!DOCTYPE html>
<html>
{% include head.html %}
{% include base.html %}

	<!-- {{page.page_class}} -->
	<!-- {{page.page_class | map: 'class'}} -->
	<body class="body {{ page.page_class | map: 'class' | join: ' ' }}">

	{% include header.html %}
	<main>
			{{ content }}
			<div id="scroll-point"></div>
	</main>
	{% include footer.html %}
</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ base }}/js/smooth-scroll.polyfills.min.js"></script>
<script src="{{ base }}/js/header.js"></script>

{% if page.gsap == true %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script> -->
<script src="{{ base }}/js/TweenMax.min.js"></script>
<script src="{{ base }}/js/DrawSVGPlugin.min.js"></script>
<script src="{{ base }}/js/ScrollMagic.js"></script>
<script src="{{ base }}/js/animation.gsap.js"></script>
<script src="{{ base }}/js/debug.addIndicators.js"></script>
{% endif %}

{% if page.anime == true %}
<script src="{{ base }}/js/anime.min.js"></script>
<script src="{{ base }}/js/animation.anime.min.js"></script>
{% endif %}

{% if page.rangeslider == true %}
<script src="{{ base }}/js/rangeslider.min.js"></script>
{% endif %}

{% if page.magnific == true %}
<script src="{{ base }}/js/jquery.magnific-popup.js"></script>
{% endif %}

{% if page.custom_js %}
{% for js_file in page.custom_js %}
<script src='{{ base }}/js/{{ js_file }}.js' type="text/javascript"></script>
{% endfor %}
{% endif %}

<script>
	var scroll = new SmoothScroll('a[href*="#"]', {
		updateURL: false
	});
</script>

</html>
