<!DOCTYPE html>
<html>
{% include head.html %}

	<body class="body">

	{% include header.html %}
	<main id="main">
			<section class="form-page">
				<div class="form-page__form-wrapper">
					<iframe src="{{ page.form_url }}" frameborder="0"></iframe>
				</div>
			</section>
	</main>
	{% include footer.html %}
</body>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ base }}/js/header.js"></script>
<script>
	if ($(window).width() >= 991) {
	$(window).on("load resize", function () {
			var footerHeight = $("#footer").outerHeight();
			$("#main").css("margin-bottom", footerHeight);
		});
	}
</script>

</html>
