---
layout: default
page_menu: false
title: page.title
description: page.description
hs_form_id: 75c57a13-9090-4db1-acd0-be51d1a76f7e
---

<!-- Set author object, default if none; -->
{% for author in site.data.blog.authors %}
{% if page.author == author.name %}
{% assign authorIndex = forloop.index0 | plus: 0 %}
{% break %}
{% else %}
{% assign authorIndex = 0 %}
{% endif %}
{% endfor %}
{% assign author = site.data.blog.authors[authorIndex] %}


<div class="post">
	<div class="post__title">
		<h1>{{ page.post_title }}</h1>
		<p class="post__title--author">By: {{ page.post_author }}</p>
		<p class="post__title--intro"> {{ page.post_intro }}</p>
		<!-- <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time> -->
	</div>

	<div class="post__featured-image" style="background: url('{{ page.post_image }}')"></div>

	<div class="post__body">
		{{ content }}
	</div>

	<div class="post__footer-author">
		<div class="post__footer-author__img">
			<img src="{{ author.img }}" alt="{{ author.name }}">
		</div>
		<div class="post__footer-author__info">
			<div class="post__footer-author__info-name">{{ author.name }}</div>
			<div class="post__footer-author__info-title">{{ author.title }}</div>
			<div class="post__footer-author__info-desc">{{ author.desc }}</div>
		</div>
	</div>

</div>
