---
layout: default
page_menu: false
title: page.title
description: page.description
hs_form_id: 75c57a13-9090-4db1-acd0-be51d1a76f7e
---
<div class="post">
	<div class="post__title">
		<h1>{{ page.post_title }}</h1>
		<p class="post__title--author">By: {{ page.post_author }}</p>
		<p class="post__title--intro"> {{ page.post_intro }}</p>
		<!-- <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time> -->
	</div>
	<div class="post__featured-image" style="background: url('{{ page.post_image }}')"></div>
	<div class="post__body">
		{{ content }}
	</div>
</div>
