---
layout: default
page_menu: false
title: page.title
description: page.description
hs_form_id: 752d9537-626f-4b98-877e-c244f19579cb
---
<div class="post">
	<div class="post__container">
	<h2>{{ page.post_title }}</h2>
	<time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>
		<div class="post__featured-image">
			<img src="{{ page.post_image }}" alt="">
		</div>
		<div class="post__body">
			<h2 class="page__quote">{{ page.quote }}</h2>
			{{ content }}
		</div>
	</div>
</div>
