---
layout: default
page_class:
- class: blog-list-page
---

		{% capture tag %}{{ page.title }}{% endcapture %}

		<div class="blog-list__unfeatured blog-list__filtered">

			<div class="blog-list__filtered-header">
				<h2>Posts About {{ tag | replace: '-', ' ' }} </h2>
			</div>

			<div class="blog-list__unfeatured-list">
				{% for post in site.posts %}
				{% if post.tags contains tag %}
				<div class="blog-list__post">
					<div class="blog-list__post-image" style="background: url({{post.post_image}}) center center/cover;"></div>
					<div class="blog-list__post-info">
						<h3>{{ post.post_title }}</h3>
						<div class="blog-list__post-date">
							{{ post.date | date: '%B %d, %Y' }}
						</div>
						<div class="blog-list__post-preview">
							<p>{{ post.post_highlight }}</p>
							<a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
						</div>
					</div>
				</div>
					{% endif %}
					{% endfor %}
				<div class="blog-list__filtered-footer">
					<a href="/blog" class="btn">View All Posts</a>
				</div>
			</div>
			<div class="blog-list__tags">
				<h2>Filter By:</h2>
				<ul class="blog-list__tags-list">
					{% for tag in site.tags %}
					<li class="blog-list__tags-link"><a href="{{ '/blog/tag/' | append:tag[0] }}"
							rel="tag">{{ tag[0] | replace: '-', ' ' }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="blog-subscription">
			<div class="blog-subscription__container">
				<h3 class="blog-subscription__headline">Ready To Grow Your Practice?</h3>
				<p class="blog-subscription__text">Join hundreds of doctors reading the DoctorLogic newsletter, a monthly update on industry best-practices. We will never spam your email.</p>
				<form action="https://marketing.doctorlogic.com/l/772793/2019-06-25/4sv" method="post">
					<div class="styled-input">
						<input type="hidden" name="ReferralPage">
						<input type="text" name="Email" placeholder="My Email Is..." required>
						<div class="confirmation"></div>
					</div>
					<button type="submit" onClick="thankyou()">Submit</button>
				</form>
			</div>
		</div>


