<form action="{{ include.handler }}" method="post">
    <input type="hidden" name="Referrer">
    <div class="styled-input">
        <input type="text" name="FirstName" placeholder="First Name (required)" required>
    </div>
    <div class="styled-input">
        <input type="text" name="LastName" placeholder="Last Name (required)" required>
    </div>
    <div class="styled-input">
        <input type="text" name="Email" placeholder="Email (required)" required>
    </div>
    <div class="styled-input">
        <input type="text" name="Website" placeholder="URL (required)" required>
    </div>
    <div class="styled-input">
        <input type="text" name="Specialty" placeholder="Specialty (required)" required>
    </div>
    <div class="styled-input">
        <input type="tel" name="Phone" placeholder="Phone (required)" required>
    </div>
    <div class="styled-textarea">
        <textarea name="Comments" rows="2" placeholder="How Can We Help?"></textarea>
    </div>
    <button type="submit">Submit</button>   
</form>